<!DOCTYPE html>
<html xml:lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Hình ảnh phòng ở</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            type="text/css"
            th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
        />
        <link
            rel="stylesheet"
            href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"
        />
        <link
            rel="stylesheet"
            href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"
        />
        <link rel="stylesheet" th:href="@{/css/room/room_details.css}" type="text/css" />
        <div th:replace="header :: css"></div>
        <style>
            main {
                width: 1200px;
                height: 100vh;
                max-width: 90%;
                margin: 0 auto;
            }

            #images__container {
                padding: 80px 80px;
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 100%;
                position: relative;
            }
        </style>
    </head>
    <body>
        <div th:replace="header :: content"></div>

        <div style="position: relative">
            <main>
                <div id="images__container">
                    <div id="rdt_images-verticle">
                        <div th:replace="room/_room_details_partial :: showMoreImage"></div>
                    </div>
                </div>
            </main>
            <div id="rdt__fullScreen">
                <div>
                    <div style="padding: 20px">
                        <button id="closeShowImgBtn" onclick="closeFullScreenShow();">
                            <span class="_e296pg">
                                <img
                                    th:src="@{/svg/close.svg}"
                                    alt=""
                                    width="16px"
                                    height="16px"
                                    style="color: #fff"
                                    class="backSvg"
                            /></span>
                        </button>
                    </div>
                </div>
                <div id="rdt__imagesFullScreenContainer">
                    <div id="innerContainer">
                        <th:block th:each="image,itr : ${room.images}">
                            <img
                                th:src="${image.getImagePath(room.host.email, room.id)}"
                                th:id="${image.id}"
                                class="bigImage active"
                                th:data-index="${itr.index + 1}"
                                th:if="${itr.index + 1 == 1}"
                            />
                            <img
                                th:src="${image.getImagePath(room.host.email, room.id)}"
                                th:id="${image.id}"
                                class="bigImage"
                                th:data-index="${itr.index + 1}"
                                th:if="${itr.index + 1 != 1}"
                            />
                        </th:block>
                    </div>
                </div>
                <div id="button__changeImage">
                    <div th:replace="room/_room_details_partial :: changeImage"></div>
                </div>
            </div>
        </div>

        <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/room/room_slider.js}"></script>
        <script type="text/javascript" th:src="@{/js/helpers/format_number.js}"></script>
        <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <div th:replace="header :: javascript"></div>

        <script th:inline="javascript">
            /*<![CDATA[*/
            const baseURL = /*[[@{/}]]*/ '/aritnt/';
            const roomId = /*[[${room.id}]]*/ 0;
            /*]]>*/
        </script>
        <script>
            function showFullscreenImage() {
                $('.header').hide();
                $('#rdt_images-verticle').hide();

                const shareIcon = $('.shareSvg');
                const loveIcon = $('.loveSvg');
                const backIcon = $('.backSvg');
                shareIcon.attr('class', 'shareSvg white');
                loveIcon.attr('class', 'loveSvg white');
                backIcon.attr('class', 'backIcon white');
                backIcon.attr(
                    'style',
                    `height: 16px;
                    width: 16px;
                    display: block;
                    fill: #fff;`
                );

                $('#rdt__fullScreen').show();
            }
            function closeFullScreenShow() {
                window.location.href = `${baseURL}room/${roomId}/images`;
            }
        </script>
    </body>
</html>
