<!DOCTYPE html>
<html xml:lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Danh sách yêu thích của bạn</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"
        />
        <link
            rel="stylesheet"
            href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
        />
        <link rel="stylesheet" th:href="@{/css/room/wishlists.css}" type="text/css" />
        <div th:replace="header :: css"></div>
    </head>
    <body>
        <div th:replace="header :: content"></div>

        <main>
            <div class="wishlists__container">
                <div
                    style="
                        font-size: 32px;
                        line-height: 36px;
                        font-weight: 500;
                        color: rgb(34, 34, 34);
                        margin-top: 20px;
                        contain: paint;
                        margin-bottom: 20px;
                    "
                >
                    Yêu thích
                </div>

                <div
                    class="normal-flex"
                    style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 10px"
                >
                    <th:block th:each="room : ${wishlists}">
                        <div class="wishlists__room-box" onclick="redirectToRoomDetails($(this));">
                            <input type="hidden" th:value="${room.id}" />
                            <div class="wishlists__room-thumbnail">
                                <img
                                    th:src="${room.renderThumbnailImage()}"
                                    alt=""
                                    width="100%"
                                    height="100%"
                                    style="object-fit: cover"
                                />
                            </div>
                            <div class="wishlists__room-image-2">
                                <img
                                    th:src="${room.images[2].getImagePath(room.host.email, room.id)}"
                                    alt=""
                                    width="100%"
                                    height="100%"
                                    style="object-fit: cover"
                                />
                            </div>
                            <div class="wishlists__room-image-3">
                                <img
                                    th:src="${room.images[3].getImagePath(room.host.email, room.id)}"
                                    alt=""
                                    width="100%"
                                    height="100%"
                                    style="object-fit: cover"
                                />
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </main>

        <div th:replace="_footer :: content"></div>

        <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

        <script th:inline="javascript">
            /*<![CDATA[*/
            const baseURL = /*[[@{/}]]*/ '';
            /*]]>*/
        </script>
        <script>
            function redirectToRoomDetails(self) {
                window.location.href = `${baseURL}room/${self.children('input').val()}`;
            }
        </script>
        <div th:replace="header :: javascript"></div>
    </body>
</html>
