<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
  <head th:replace="fragments::page_head(${pageTitle}, 'none')"> </head>

  <body>
    <div class="container-fluid">
      <div th:replace="navigation::menu"></div>

      <div>
        <h1>Manage Users | [[${pageTitle}]]</h1>
      </div>

      <form
        th:action="@{/admin/users/save}"
        method="post"
        style="max-width: 700px; margin: 0 auto"
        enctype="multipart/form-data"
        th:object="${user}"
        onsubmit="return checkEmailUnique(this)"
      >
        <input type="hidden" th:field="*{id}" />
        <div class="border border-secondary rounded p-3">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">E-mail:</label>
            <div class="col-sm-8">
              <input
                type="email"
                class="form-control"
                th:field="*{email}"
                required
                minlength="8"
                maxlength="128"
              />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">First Name:</label>
            <div class="col-sm-8">
              <input
                type="text"
                class="form-control"
                th:field="*{firstName}"
                required
                minlength="2"
                maxlength="45"
              />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Last Name:</label>
            <div class="col-sm-8">
              <input
                type="text"
                class="form-control"
                th:field="*{lastName}"
                required
                minlength="2"
                maxlength="45"
              />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Password:</label>
            <div class="col-sm-8">
              <input
                th:if="${user.id ==null}"
                type="password"
                class="form-control"
                th:field="*{password}"
                required
                minlength="8"
                maxlength="20"
              />
              <input
                th:if="${user.id !=null}"
                type="password"
                class="form-control"
                th:field="*{password}"
                minlength="8"
                maxlength="20"
              />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Sex:</label>
            <div class="col-sm-8">
              <select th:field="*{sex}" class="form-control" required>
                <option th:value="MALE">MALE</option>
                <option th:value="FEMALE">FEMALE</option>
                <option th:value="OTHER">OTHER</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Birthday:</label>
            <div class="col-sm-8">
              <input type="date" class="form-control" th:field="*{birthday}" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Phone Number:</label>
            <div class="col-sm-8">
              <input
                type="text"
                class="form-control"
                th:field="*{phoneNumber}"
                required
                minlength="2"
                maxlength="10"
              />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">About:</label>
            <div class="col-sm-8">
              <textarea
                class="form-control"
                th:field="*{about}"
                rows="10"
                minlength="20"
                maxlength="1024"
                required
              ></textarea>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Roles:</label>
            <div class="col-sm-8">
              <select th:field="*{role}" class="form-control" required>
                <th:block th:each="role : ${listRoles}">
                  <option th:value="${role.id}">
                    <small>[[${role.name}]]</small>
                    <br />
                  </option>
                </th:block>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Enabled:</label>
            <div class="col-sm-8">
              <input type="checkbox" th:field="*{status}" class="m-2" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Supreme Host:</label>
            <div class="col-sm-8">
              <input type="checkbox" th:field="*{supremeHost}" class="m-2" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Verified:</label>
            <div class="col-sm-8">
              <input type="checkbox" th:field="*{phoneVerified}" class="m-2" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Avatar:</label>
            <div class="col-sm-8">
              <input type="hidden" th:field="*{avatar}" />
              <input
                type="file"
                id="fileImage"
                name="image"
                accept="image/png, image/jpeg"
                class="mb-2"
              />
              <img
                id="thumbnail"
                alt="Photos preview"
                th:src="@{*{avatarPath}}"
                class="img-fluid"
              />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Country:</label>
            <div class="col-sm-8">
              <select
                id="countries"
                name="countrySelected"
                class="form-control"
                required
              >
                <th:block th:each="country : ${listCountries}">
                  <option th:value="${country.id}">
                    <small>[[${country.name}]]</small>
                    <br />
                  </option>
                </th:block>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">State:</label>
            <div class="col-sm-8">
              <select id="states" name="state" class="form-control"></select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">City:</label>
            <div class="col-sm-8">
              <select id="cities" name="city" class="form-control"></select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Address:</label>
            <div class="col-sm-8">
              <input
                type="text"
                class="form-control"
                name="addresss"
                minlength="2"
                maxlength="255"
                th:value="${addresss.aprtNoAndStreet}"
              />
            </div>
          </div>

          <div class="text-center">
            <input type="submit" value="Save" class="btn btn-primary m-3" />
            <input
              type="button"
              value="Cancel"
              class="btn btn-secondary"
              id="buttonCancel"
            />
          </div>
        </div>
      </form>

      <div th:replace="fragments :: modal_dialog"></div>

      <div th:replace="fragments::footer"></div>
    </div>
    <script th:inline="javascript">
      var countryIdLoad = [[${countryId}]];
      var stateIdLoad = [[${stateId}]];
      var cityIdLoad = [[${cityId}]];
    </script>
    <script type="text/javascript">
      MAX_FILE_SIZE = 1024000;
      moduleURL = "[[@{/admin/users}]]";
      contextPath = "[[@{/admin/}]]";
    </script>
    <script th:src="@{/js/common_form.js}"></script>
    <script th:src="@{/js/user_form.js}"></script>
  </body>
</html>
