<div th:fragment="content(roomGroups)" th:remove="tag">
    <div class="roomGroupsContainer">
        <div th:each="rg : ${roomGroups}" class="room-group__box">
            <input type="hidden" th:value="${rg.id}" />
            <div class="room-type__name">[[${rg.name}]]</div>
            <div>
                <img
                    th:src="@{'/room_types/' + ${rg.image}}"
                    th:alt="${rg.name}"
                    style="width: 56px; height: 56px"
                />
            </div>
        </div>
    </div>
</div>
