<!DOCTYPE html>
<html xml:lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Tạo phần mô tả nhà/phòng cho thuê – Airtnt</title>

        <link
            rel="stylesheet"
            type="text/css"
            th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
        />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
            rel="stylesheet"
        />

        <link rel="stylesheet" th:href="@{/css/become_host/room_type.css}" />
        <link rel="stylesheet" th:href="@{/css/become_host/description.css}" />
    </head>

    <!--  -->
    <body>
        <main class="room-group__main">
            <div class="room-group__container">
                <div class="room-description__left">
                    <div
                        style="
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 100%;
                            padding: 0 32px;
                        "
                    >
                        <h1
                            class="room-group__left-title"
                            style="text-align: center"
                        >
                            Bây giờ, hãy mô tả chỗ ở của bạn
                        </h1>
                    </div>
                    <div class="logoWrapper">
                        <a
                            th:href="@{/}
                       "
                            style="text-decoration: none"
                        >
                            <img
                                th:src="@{/images/airtntlogo.png}"
                                alt=""
                                id="airTntLogo"
                            />
                        </a>
                    </div>
                </div>
                <div class="room-group__right">
                    <div class="room-group__right-first">
                        <button
                            class="become-a-host__right-cancelBtn"
                            onclick="backtoHomePage();"
                        >
                            <span style="font-weight: 500">Lưu và thoát</span>
                        </button>
                    </div>
                    <div class="description__right-middle">
                        <div class="description-icon">
                            <div
                                style="
                                    font-size: 18px !important;
                                    line-height: 24px !important;
                                    font-weight: 500;
                                    margin-bottom: 15px;
                                "
                            >
                                Chọn tối đa 2 điểm nổi bật
                            </div>
                            <div>
                                <div style="display: flex; align-items: center">
                                    <div class="description__title-container">
                                        <span
                                            ><img
                                                th:src="@{'/svg/peaceful.svg'}"
                                                alt="peaceful.svg"
                                                class="img"
                                            /> </span
                                        ><span>Yên bình</span>
                                    </div>
                                    <div class="description__title-container">
                                        <span
                                            ><img
                                                th:src="@{'/svg/special.svg'}"
                                                alt="special"
                                                class="img" /></span
                                        ><span>Độc đáo</span>
                                    </div>
                                </div>
                                <div class="description__title-container">
                                    <span
                                        ><img
                                            th:src="@{'/svg/suitable_for_family.svg'}"
                                            alt="suitable_for_family"
                                            class="img" /></span
                                    ><span>Phù hợp cho gia đình</span>
                                </div>
                                <div style="display: flex; align-items: center">
                                    <div class="description__title-container">
                                        <span
                                            ><img
                                                th:src="@{'/svg/style.svg'}"
                                                alt="style"
                                                class="img" /></span
                                        ><span>Phong cách</span>
                                    </div>
                                    <div
                                        class="description__title-container"
                                        style="width: 222px"
                                    >
                                        <span
                                            ><img
                                                th:src="@{'/svg/central_location.svg'}"
                                                alt="central_location"
                                                class="img" /></span
                                        ><span>Vị trí trung tâm</span>
                                    </div>
                                </div>
                                <div class="description__title-container">
                                    <span style="margin-right: 5px"
                                        ><img
                                            th:src="@{'/svg/widely.svg'}"
                                            alt="widely"
                                            class="img" /></span
                                    ><span>Rộng rãi</span>
                                </div>
                            </div>
                        </div>
                        <div class="description-text">
                            <label for="room-name" class="room-name-label"
                                >Tạo phần mô tả</label
                            >
                            <div>
                                <textarea
                                    name=""
                                    id="room-name"
                                    cols="30"
                                    rows="10"
                                    maxlength="50"
                                    onkeydown="onKeyPress(event);"
                                    placeholder="Bạn sẽ có một khoảng thời gian tuyệt vời tại nơi ở thoải mái này."
                                    title="Bạn sẽ có một khoảng thời gian tuyệt vời tại nơi ở thoải mái này."
                                ></textarea>
                            </div>
                            <div id="numberOfTextPerMaxLength">
                                <span id="currentLength">0</span>/500
                            </div>
                        </div>
                    </div>
                    <div class="stepProcess room-description-step"></div>
                    <div class="room-group__right-last">
                        <div>
                            <a
                                th:href="@{/become-a-host/title}"
                                class="room-group__prev-step"
                                style="
                                    text-decoration: none;
                                    text-decoration: underline;
                                    color: #000;
                                "
                                >Quay lại</a
                            >
                        </div>
                        <button
                            class="become-a-host__right-startBtn"
                            onclick="nextPage();"
                        >
                            <span style="font-weight: 500">Tiếp theo</span>
                        </button>
                    </div>
                </div>
            </div>
        </main>

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script
            type="text/javascript"
            th:src="@{/webjars/jquery/jquery.min.js}"
        ></script>

        <script th:inline="javascript">
            /*<![CDATA[*/
            const baseURL = /*[[@{/}]]*/ '';
            /*]]>*/
        </script>
        <script
            th:src="@{'/js/become_host/description.js'}"
            type="text/javascript"
        ></script>
    </body>
</html>
