<!DOCTYPE html>
<html xml:lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Thông tin cá nhân</title>

        <link
            rel="stylesheet"
            type="text/css"
            th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
        />
        <link
            rel="stylesheet"
            th:href="@{/css/personal_info.css}"
            type="text/css"
        />
        <link rel="stylesheet" th:href="@{/css/become_a_host.css}" />
    </head>
    <body>
        <main class="become-a-host__main">
            <div class="become-a-host__container">
                <div class="become-a-host__left">
                    <video
                        th:src="@{/images/become_a_host.mp4}"
                        autoplay
                        preload="auto"
                        style="object-fit: cover; width: 100%; height: 100%"
                        controls
                        loop
                    ></video>
                    <div class="logoWrapper">
                        <a
                            th:href="@{/}
                       "
                            style="text-decoration: none"
                        >
                            <img
                                th:src="@{/images/airtntlogo.png}"
                                alt=""
                                id="airTntLogo"
                            />
                        </a>
                    </div>
                </div>
                <div class="become-a-host__right">
                    <div class="become-a-host__right-first">
                        <button
                            class="become-a-host__right-cancelBtn"
                            onclick="backtoHomePage();"
                        >
                            <span>Thoát</span>
                        </button>
                    </div>
                    <div class="become-a-host__right-middle">
                        <h1>Trở thành Chủ nhà sau 10 bước dễ dàng</h1>
                        <h4>
                            Hãy tham gia cùng chúng tôi. Chúng tôi sẽ trợ giúp
                            bạn qua từng bước của quy trình.
                        </h4>
                    </div>
                    <div class="become-a-host__right-last">
                        <button
                            class="become-a-host__right-startBtn"
                            onclick="start();"
                        >
                            <span>Bắt đầu thôi</span>
                        </button>
                    </div>
                </div>
            </div>
        </main>

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script
            type="text/javascript"
            th:src="@{/webjars/jquery/jquery.min.js}"
        ></script>
        <script th:inline="javascript">
            /*<![CDATA[*/
                const baseURL = /*[[@{/}]]*/ '';
            /*]]>*/
        </script>

        <script>
            function backtoHomePage() {
                window.location.href = baseURL;
            }

            function start() {
                window.location.href =
                    `${baseURL}become-a-host/property-type-group`;
            }
        </script>
    </body>
</html>
