<!DOCTYPE html>
<html xml:lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Chọn loại chỗ ở thông thường</title>

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
            rel="stylesheet"
        />

        <link rel="stylesheet" th:href="@{/css/become_host/room_group.css}" />
    </head>

    <!--  -->
    <body>
        <main class="room-group__main">
            <div class="room-group__container">
                <div class="room-group__left">
                    <div
                        style="
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 100%;
                        "
                    >
                        <h1 class="room-group__left-title" style="color: #fff">
                            Bạn sẽ cho thuê loại chỗ ở nào?
                        </h1>
                    </div>
                    <div class="logoWrapper">
                        <a
                            th:href="@{/}
                       "
                            style="text-decoration: none"
                        >
                            <img
                                th:src="@{/images/airtntlogo.png}"
                                alt=""
                                id="airTntLogo"
                            />
                        </a>
                    </div>
                </div>
                <div class="room-group__right">
                    <div class="room-group__right-first">
                        <button
                            class="become-a-host__right-cancelBtn"
                            onclick="backtoHomePage();"
                        >
                            <span style="font-weight: 500">Lưu và thoát</span>
                        </button>
                    </div>
                    <div class="room-group__right-middle">
                        <div
                            th:replace="become_host/_property_group_partial :: content(${roomGroups})"
                        ></div>
                    </div>
                    <div class="stepProcess room-group-step"></div>
                    <div class="room-group__right-last">
                        <div>
                            <a
                                th:href="@{/become-a-host/}"
                                class="room-group__prev-step"
                                style="
                                    text-decoration: none;
                                    text-decoration: underline;
                                    color: #000;
                                "
                                >Quay lại</a
                            >
                        </div>
                        <button
                            class="become-a-host__right-startBtn"
                            onclick="nextPage();"
                        >
                            <span style="font-weight: 500">Tiếp theo</span>
                        </button>
                    </div>
                </div>
            </div>
        </main>

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script
            type="text/javascript"
            th:src="@{/webjars/jquery/jquery.min.js}"
        ></script>
        <script th:inline="javascript">
            /*<![CDATA[*/
            const baseURL = /*[[@{/}]]*/ '';
            /*]]>*/
        </script>
        <script
            type="text/javascript"
            th:src="@{'/js/become_host/property_type_group.js'}"
        ></script>
    </body>
</html>
