<!DOCTYPE html>
<html xml:lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Nhập thông tin nhà/phòng cho thuê – Airtnt</title>

        <link
            rel="stylesheet"
            type="text/css"
            th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
        />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
            rel="stylesheet"
        />

        <link rel="stylesheet" th:href="@{/css/become_host/room_info.css}" />
        <link rel="stylesheet" th:href="@{/css/become_host/room_type.css}" />
    </head>

    <!--  -->
    <body>
        <main class="room-group__main">
            <div class="room-group__container">
                <div class="room-info__left">
                    <div
                        style="
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 100%;
                            padding: 0 32px;
                        "
                    >
                        <h1
                            class="room-group__left-title"
                            style="text-align: center; color: #fff"
                        >
                            Điều nào sau đây mô tả chính xác nhất về nơi ở của
                            bạn?
                        </h1>
                    </div>
                    <div class="logoWrapper">
                        <a
                            th:href="@{/}
                       "
                            style="text-decoration: none"
                        >
                            <img
                                th:src="@{/images/airtntlogo.png}"
                                alt=""
                                id="airTntLogo"
                            />
                        </a>
                    </div>
                </div>
                <div class="room-group__right">
                    <div class="room-group__right-first">
                        <button
                            class="become-a-host__right-cancelBtn"
                            onclick="backtoHomePage();"
                        >
                            <span style="font-weight: 500">Lưu và thoát</span>
                        </button>
                    </div>
                    <div class="room-info__right-middle">
                        <div class="room-info__info">
                            <div class="room-info__info-title">Khách</div>
                            <div>
                                <button
                                    class="incAndDecBtn"
                                    data-function="dec"
                                    data-edit="guestNumber"
                                    id="guestNumberDecBtn"
                                >
                                    -</button
                                ><span
                                    style="
                                        display: inline-block;
                                        margin: 0 16px;
                                    "
                                    id="guestNumber"
                                    >1</span
                                ><button
                                    class="incAndDecBtn"
                                    data-function="inc"
                                    data-edit="guestNumber"
                                >
                                    +
                                </button>
                            </div>
                        </div>
                        <div class="room-info__info">
                            <div class="room-info__info-title">Giường</div>
                            <div>
                                <button
                                    class="incAndDecBtn"
                                    data-function="dec"
                                    data-edit="bedNumber"
                                    id="bedNumberDecBtn"
                                >
                                    -</button
                                ><span
                                    style="
                                        display: inline-block;
                                        margin: 0 16px;
                                    "
                                    id="bedNumber"
                                    >1</span
                                ><button
                                    class="incAndDecBtn"
                                    data-function="inc"
                                    data-edit="bedNumber"
                                >
                                    +
                                </button>
                            </div>
                        </div>
                        <div class="room-info__info">
                            <div class="room-info__info-title">Phòng Ngủ</div>
                            <div>
                                <button
                                    class="incAndDecBtn"
                                    data-function="dec"
                                    data-edit="bedRoomNumber"
                                    id="bedRoomNumberDecBtn"
                                >
                                    -</button
                                ><span
                                    style="
                                        display: inline-block;
                                        margin: 0 16px;
                                    "
                                    id="bedRoomNumber"
                                    >1</span
                                ><button
                                    class="incAndDecBtn"
                                    data-function="inc"
                                    data-edit="bedRoomNumber"
                                >
                                    +
                                </button>
                            </div>
                        </div>
                        <div class="room-info__info">
                            <div class="room-info__info-title">Phòng tắm</div>
                            <div>
                                <button
                                    class="incAndDecBtn"
                                    data-function="dec"
                                    data-edit="bathRoomNumber"
                                    id="bathRoomNumberDecBtn"
                                >
                                    -</button
                                ><span
                                    style="
                                        display: inline-block;
                                        margin: 0 16px;
                                    "
                                    id="bathRoomNumber"
                                    >1</span
                                ><button
                                    class="incAndDecBtn"
                                    data-function="inc"
                                    data-edit="bathRoomNumber"
                                >
                                    +
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="stepProcess room-info-step"></div>
                    <div class="room-group__right-last">
                        <div>
                            <a
                                th:href="@{'/become-a-host/location'}"
                                class="room-group__prev-step"
                                style="
                                    text-decoration: none;
                                    text-decoration: underline;
                                    color: #000;
                                "
                                >Quay lại</a
                            >
                        </div>
                        <button
                            class="become-a-host__right-startBtn"
                            onclick="nextPage();"
                        >
                            <span style="font-weight: 500">Tiếp theo</span>
                        </button>
                    </div>
                </div>
            </div>
        </main>

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script
            type="text/javascript"
            th:src="@{/webjars/jquery/jquery.min.js}"
        ></script>
        <script th:inline="javascript">
            /*<![CDATA[*/
            const baseURL = /*[[@{/}]]*/ '';
            /*]]>*/
        </script>
        <script
            type="text/javascript"
            th:src="@{'/js/become_host/room_info.js'}"
        ></script>
    </body>
</html>
