# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/Frontend/node_modules
/Backend/target
/Backend/serviceAccountKey.json
/Frontend/.pnp
/Frontend/.pnp.js
/Backend/.apt_generated_tests
/Backend/.mvn
/Backend/src/main/resources/application.properties
/Backend/META-INF
/Backend/.vscode
/Backend/.classpath
/Backend/terraform
/Backend/mvnw
/Backend/mvnw.cmd
/Backend/src/test
/Backend/test_ubuntu.sh
/Backend/bin
# testing
/Frontend/coverage

# production
/Frontend/build

# misc
/Frontend/.DS_Store
/Frontend/.env.local
/Frontend/.env.development.local
/Frontend/.env.test.local
/Frontend/.env.production.local

/Frontend/npm-debug.log*
/Frontend/yarn-debug.log*
/Frontend/yarn-error.log*

**/.terraform/**
**/.terraform.*
**/terraform.*

airj18_security_key.pem