<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeLeaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xml:lang="en"
>
    <head th:replace="fragments::page_head('Home - AirTnt Admin', 'none')"> </head>
    <body>
        <div class="container-fluid">
            <div th:replace="navigation::menu"></div>
            <h2>AirTnT Control Panel</h2>
            Welcome

            <div th:replace="fragments::footer"></div>
        </div>
    </body>
</html>
