#filterTime__box {
    height: 585px;
    width: 750px;
    background-color: #fff;
    position: absolute;
    top: 54px;
    right: 0;
    left: auto;
    display: none;
    z-index: 100;
    border-radius: 16px;
    box-shadow: rgb(0 0 0 / 15%) 0px 10px 37px;
}

#filterTime__box.smaller {
    height: 475px;
}

#filterTime__footer {
    padding: 0 24px;
    height: 59px;

    padding: 12px 14px;
    border-top: 1px solid rgb(235, 235, 235);
}

.filterTime__filter--option {
    border-radius: 100px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    border: none;

    color: rgb(34, 34, 34);
    padding: 5px 14px;
    margin-top: 4px;
    margin-bottom: 4px;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s,
        transform 0.1s ease 0s;
    position: relative;
    outline: none;
    cursor: default;
}

.filterTime__filter--option.active {
    background: rgb(255, 255, 255);
}

.filterTime__filter--option:hover {
    background: rgb(247, 247, 247);
}

.filterTime__option--container {
    padding-top: 24px;
    padding-bottom: 12px;
}

#filterTime__option--wrapper {
    background-color: rgb(235, 235, 235);
    border-radius: 100px;
    display: flex;
    padding: 0 4px;
}

.filter--footer__applyBtn.smaller {
    height: 34px;
    font-size: 14px;
    width: 56px;
}

.filterTime__flexibleDayBtn {
    cursor: pointer;
    text-align: center;
    border: 1px solid rgb(221, 221, 221);
    background-color: rgb(255, 255, 255);
    outline: none;
    margin: 0px;
    color: rgb(34, 34, 34);
    position: relative;
    transition-property: -ms-transform, -webkit-transform, transform, background-color, border-color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    padding: 4px 12px;
    min-height: 32px;
    border-radius: 16px;
    font-size: 14px;
    line-height: 18px;
    margin-right: 10px;
}

.filterTime__flexibleDayBtn:hover {
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
}

.filterTime__flexibleDayBtn.selected {
    border-color: #222;
    border: 2px solid;

    animation: zoom 0.2s ease-in;
}

.filterTime__monthSelected {
    cursor: pointer;
    text-align: center;
    border: 1px solid rgba(176, 176, 176, 0.5);
    outline: none;
    padding: 0px;
    margin: 0px;
    position: relative;
    transition-property: -ms-transform, -webkit-transform, transform, background-color, border-color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    border-radius: 16px;
    font-size: 12px;
    line-height: 16px;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(34, 34, 34);
}

.filterTime__monthSelected.active {
    border-color: rgb(0, 0, 0);
    border: 2px solid;
}

.filterTime__monthSelected:hover {
    border-color: rgb(0, 0, 0);
    border: 2px solid;
}

.filterTime__monthSelected div:nth-child(2) {
    padding-top: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.filterTime__monthSelected div:last-child {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: rgb(113, 113, 113);
    padding-top: 4px;
}

.filterTime__flexibleDay--title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    color: rgb(113, 113, 113);
    padding-top: 8px;
    padding-bottom: 16px;
    margin: 0px;
}

.filterTime__nextFlexibleDayBtn {
    -webkit-box-pack: center;
    -webkit-box-align: center;
    appearance: none;
    display: inline-flex;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.08);
    outline: none;
    margin: 0px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    touch-action: manipulation;
    align-items: center;
    justify-content: center;
    padding: 0px;
    background-clip: padding-box;
    color: rgb(34, 34, 34);
    box-shadow: transparent 0px 0px 0px 1px, transparent 0px 0px 0px 4px,
        rgb(0 0 0 / 18%) 0px 2px 4px;
    transition: -ms-transform 0.25s ease 0s, -webkit-transform 0.25s ease 0s,
        transform 0.25s ease 0s;
    width: 32px;
    height: 32px;
}

.filterTime__nextFlexibleDayBtn--wrapper {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
