#table {
    width: 100%;
}

.listings__room-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: bottom;
    border-radius: 8px;
}

main {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: calc(100vh - 80px);
}

.listings__container {
    padding: 32px 24px 16px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.listings__header {
}

.listings__header-rooms-length {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    font-size: 22px;
    line-height: 26px;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    font-weight: 600;
    min-width: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.listings__create-new-room {
    cursor: pointer;
    margin: 0px;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    border-radius: 10px;
    outline: none;
    transition: box-shadow 0.2s ease, -ms-transform 0.1s ease, -webkit-transform 0.1s ease,
        transform 0.1s ease;
    border-color: #222222;
    background: #ffffff;
    border: 1px solid #222222;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 175px;
    height: 40px;
    padding: 16px;
}

.listings__filter-container {
    display: flex;
    align-items: center;
}

.listings__search-room {
    display: flex;
    align-items: center;
    width: 327px;
    height: 32px;
    margin-right: 30px;
    border: 1px solid #b0b0b0;
    border-radius: 32px;
    padding: 6px 18px;
}

#listings__search-input {
    border: none;
    outline: none;
    width: 100%;
}

.listings__filter {
    margin-right: 10px;
    position: relative;
}

.listings__filter-option {
    cursor: pointer;
    text-align: center;
    border: 1px solid black;
    background-color: #ffffff;
    outline: none;
    padding: 0px;
    margin: 0px;
    border-color: #b0b0b0;
    border-radius: 32px;
    color: #222222;
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
    height: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
}

.listings__filter-option:hover {
    border-color: #222222;
}

.listings__search-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    cursor: pointer;
}

.listings__filter-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

table {
    margin-top: 20px;
}

tr {
    border-bottom: 1px solid #ebebeb;
    height: 70px;
}

/* tbody tr::after {
    background-color: indianred;
    border-radius: 3rem;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: 0.2s transform ease-out;
    will-change: transform;
    z-index: -1;
} */

/* tbody tr {
    position: relative;
    overflow: hidden;
    transition: 0.2s transform ease-in-out;
    will-change: transform;
    z-index: 0;
} */

tbody tr:hover::after {
    transform: translate(0, 0);
}

tbody tr:hover {
    --table-row-background-color: #f7f7f7;
    border-radius: 8px;
    background: #f7f7f7;
    border-top-color: #f7f7f7;
    box-shadow: -12px 0 0 0 #f7f7f7, 12px 0 0 0 #f7f7f7;
}

th.remove {
    display: none;
}

td.remove {
    display: none;
}

tbody tr {
    cursor: pointer;
}

/* th:nth-child(2) {
    width: 371px;
}

th:nth-child(3) {
    width: 196px;
}

th:nth-child(4) {
    width: 200px;
}

th:nth-child(5),
th:nth-child(6),
th:nth-child(7),
th:nth-child(8) {
    width: 130px;
}

th:nth-child(9) {
    width: 300px;
} */

.listings__table-header {
    cursor: pointer;
    position: relative;
    border-color: black;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    outline: none;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 24px;
    padding-right: 24px;
    transition: box-shadow 0.2s ease, -ms-transform 0.1s ease;
    background: transparent;
    border: none;
    display: block;
    margin: 0;
    padding: 0;
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.listings__table-header div {
    font-size: 12px;
    color: #717177;
    text-transform: uppercase;
    font-weight: 600;
}

.listings__complete-room-making {
    cursor: pointer;
    display: inline-block;
    margin: 0px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: auto;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    outline: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    transition: box-shadow 0.2s ease, -ms-transform 0.1s ease, -webkit-transform 0.1s ease,
        transform 0.1s ease;
    border-color: #222222;
    background: #ffffff;
    color: #222222;
}

.listings__room-name {
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    text-align: left;
    margin-bottom: 0px;
    line-height: 20px;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-left: 12px;
    width: 300px;
}

.upper {
    border-radius: 2px;
    width: 0px;
    height: 0px;
    margin-top: 1px;
    margin-bottom: 1px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #22222247;
}

.downer {
    border-radius: 2px;
    width: 0px;
    height: 0px;
    margin-top: 1px;
    margin-bottom: 1px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #22222247;
    color: #222;
    /*border-top: 5px solid #222222;*/
}

.listings__fiter-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.listings__td-text {
    font-size: 14px;
    line-height: 18px;
    color: #222222;
}

#listings__filter-roomAndBedRoom {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    position: absolute;
    margin-top: 12px;
    background: rgb(255, 255, 255);
    border-radius: 12px;
    border: 0.5px solid rgba(118, 118, 118, 0.28);
    box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px;
    z-index: 2001;
    overflow: hidden auto;
    min-width: 300px;
    height: 300px;
    width: max-content;
    top: 100%;
    left: 0px;
    right: auto;
    display: none;
}

.flex-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-box {
    padding: 24px;
    flex: 1;
    overflow-y: scroll;
}

.filter-count {
    margin: 0 10px;
}

.listings__filter-roomAndBedRoom-row {
    height: calc(100% / 3);
}

.listings__minus-btn,
.listings__plus-btn {
    width: 32px;
    height: 32px;
    flex-grow: 0;
    flex-shrink: 0;
    cursor: pointer;
    display: inline-flex;
    margin: 0px;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(176, 176, 176);
    color: rgb(113, 113, 113);
    outline: none;
    touch-action: manipulation;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.listings__transparent-btn {
    outline: none;
    border: none;
    background-color: transparent;
    text-decoration: underline;
    color: #222;
    font-size: 16;
    font-weight: 500;
}

.listings__black-btn {
    cursor: pointer;
    display: inline-block;
    margin: 0px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: auto;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    outline: none;
    padding: 14px 24px;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s,
        transform 0.1s ease 0s;
    border: none;
    background: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
    contain: paint;
}

#listings__filter-amentities {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    position: absolute;
    margin-top: 12px;
    background: rgb(255, 255, 255);
    border-radius: 12px;
    border: 0.5px solid rgba(118, 118, 118, 0.28);
    box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px;
    z-index: 2001;
    overflow: hidden auto;
    width: 500px;
    top: 100%;
    height: 455px;
    left: 0px;
    right: auto;
    display: none;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

input[type='checkbox'] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    outline: none;
    content: none;
}

input[type='checkbox']:before {
    font-family: 'FontAwesome';
    content: '\f00c';
    font-size: 13px;
    border-radius: 4px;
    color: transparent;
    background: #fff;
    display: block;
    width: 18px;
    height: 18px;
    border: 2px solid #d3d6db;
    margin-right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type='checkbox']:checked:before {
    background: #3ea8df;
    color: rgba(255, 255, 255, 0.85);
    border: 2px solid #3ea8df;
    border-radius: 4px;
}

#listings__filter-status {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    position: absolute;
    margin-top: 12px;
    background: rgb(255, 255, 255);
    border-radius: 12px;
    border: 0.5px solid rgba(118, 118, 118, 0.28);
    box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px;
    z-index: 2001;
    overflow: hidden auto;
    width: 300px;
    top: 100%;
    height: 229px;
    left: 0px;
    right: auto;
    display: none;
}

.normal-flex {
    display: flex;
    align-items: center;
}

.listings__filter-status-row {
    height: calc(100% / 2);
}

#listings__filter-others {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    position: absolute;
    margin-top: 12px;
    background: rgb(255, 255, 255);
    border-radius: 12px;
    border: 0.5px solid rgba(118, 118, 118, 0.28);
    box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px;
    z-index: 2001;
    overflow: hidden auto;
    width: 300px;
    top: 100%;
    height: 229px;
    left: 0px;
    right: auto;
    display: none;
}

.listings__filter-others-row {
    height: calc(100% / 2);
}

#listings__setting-column-display {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    background: rgb(255, 255, 255);
    border-radius: 12px;
    border: 0.5px solid rgba(118, 118, 118, 0.28);
    box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px;
    z-index: 2001;
    overflow: hidden auto;
    width: 300px;
    top: 100%;
    height: 229px;
    right: 0px;
    left: auto;
    display: none;
}

.listings__setting-column-display-header {
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 16px;
}

.listings__setting-column-display-row {
    height: calc(100% / 5);
}

#listings__filter-roomAndBedRoom.active,
#listings__filter-amentities.active,
#listings__filter-status.active,
#listings__filter-others.active,
#listings__setting-column-display.active {
    display: block;
}

.listings__filter-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.listings__transparent-btn:disabled {
    color: #dddddd;
    cursor: not-allowed;
}

.listings__minus-btn:disabled {
    cursor: not-allowed;
    color: rgb(235, 235, 235);
    border-color: rgb(235, 235, 235);
    background: rgb(255, 255, 255);
}

/*PAGING*/
.pagination {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    height: 80px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #4caf50;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}
/*END OF PAGING*/
