*,
*::before,
*::after {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
}

#earnings__footer {
}

.normal-flex {
    display: flex;
    align-items: center;
}

.flex-1 {
    flex: 1;
}

.earnings__year {
    font-size: 14px;
    color: #222;
}

.earnings__total-earnings-in-year {
    margin: 0px;
    word-wrap: break-word;
    font-size: 38px;
    font-weight: 800;
    line-height: 1.1578947368421053em;
    color: #484848;
    padding-top: 8px;
    padding-bottom: 8px;
}

.earnings__total-earnings-in-year-title {
    margin: 0px;
    word-wrap: break-word;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.375em;
    color: #484848;
}
