.room-description__left {
    position: relative;
    flex: 1;
    max-width: 50%;
    height: 100%;
    background: #fc5c7d; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #6a82fb,
        #fc5c7d
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #6a82fb,
        #fc5c7d
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.description__right-middle {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img {
    width: 24px;
    height: 24px;
    object-fit: cover;
}

.description__title-container {
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    cursor: pointer;
    text-align: center;
    border: 1px solid rgb(176, 176, 176);
    background-color: rgb(255, 255, 255);
    outline: none;
    padding: 0px 16px;
    margin: 0px;
    border-radius: 32px;
    color: rgb(34, 34, 34);
    position: relative;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    flex: 1 1 0%;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-right: 15px;
}

.description__title-container:hover {
    border-color: #222;
}

.description__title-container.choosen {
    border-color: inherit;
    border-style: solid;
    border-width: 2px;
}

.description__title-container span:first-child {
    margin-right: 5px;
}

textarea::placeholder {
    font-size: 18px;
    font-weight: 400;
}

.description-text {
    display: none;
}

.description-icon.disabled {
    display: none;
}

.description-text.active {
    display: block;
}

.stepProcess.room-description-step {
    width: calc(100% / 11 * 9);
}
