*,
*::before,
*::after {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.room-preview__left {
    flex: 1;
    max-width: 50%;
    height: 100%;
    position: relative;
    background: url('/images/preview.jpg');
    background-position: center;
}

.room-preview__right-middle {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stepProcess.room-preview-step {
    width: calc(100% / 11 * 11);
}

.become-a-host__save-room {
    cursor: pointer;
    display: inline-block;
    margin: 0px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: auto;
    touch-action: manipulation;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    outline: none;
    padding: 14px 2px;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s,
        transform 0.1s ease 0s;
    -webkit-tap-highlight-color: transparent;
    border: none;
    background: linear-gradient(
        to right,
        rgb(230, 30, 77) 0%,
        rgb(227, 28, 95) 50%,
        rgb(215, 4, 102) 100%
    );
    color: rgb(255, 255, 255);
    width: 233px;
    height: 48px;
    font-size: 18px;
}

.room-preview__container {
    border: 1px solid rgb(235, 235, 235);
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    width: 336px;
    max-width: 90%;
    height: 100%;
    min-height: 400px;
    max-height: 680px;
    padding: 12px;
    border-radius: 32px;
    background-color: rgb(255, 255, 255);
}

.room-preview__wrapper::-webkit-scrollbar {
    display: none;
}

.room-preview__wrapper {
    border: 1px solid rgb(235, 235, 235);
    height: 100%;
    width: 100%;
    border-radius: 32px;
    overflow-x: hidden;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}

.room-preview__line {
    margin: 0 24px;
    padding: 24px 0;
    border-bottom: 1px solid #ebebeb;
}

.room-preview__line:nth-last-child(2) {
    border-bottom: none;
}

.room-preview__line:last-child {
    border-bottom: none;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#room-preview__room-type {
    font-size: 18px;
    line-height: 24px;
    overflow-wrap: break-word;
    max-width: 80%;
    font-weight: 600;
    margin-bottom: 0px;
}

#room-preview__room-title {
    border-bottom: 1px solid #ebebeb;
    font-size: 26px;
    line-height: 30px;
    font-weight: 800;
    word-wrap: break-word;
}

.room-preview__amentity-container:first {
    position: relative;
}

.room-preview__amentity-container {
    margin-top: 16px;
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ebebeb;
    padding-left: 0px;
    list-style-type: none;
}

.room-preview__amentity-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    margin-bottom: 24px;
}

#room-preview__room-price {
    font-weight: 600;
}
