<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Xác nhận và thanh toán</title>

        <link
            rel="stylesheet"
            type="text/css"
            th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
        />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
            rel="stylesheet"
        />
        <div th:replace="header :: css"></div>
        <link rel="stylesheet" th:href="@{/css/booking/booking.css}" />
        <link rel="stylesheet" th:href="@{/css/checkout.css}" />
        <script src="https://js.stripe.com/v3/"></script>
    </head>

    <body>
        <div th:replace="header :: content"></div>

        <main>
            <div class="booking_container">
                <div class="normal-flex" style="justify-content: flex-start; width: 100%">
                    <div onclick="backToRoomDetails()" style="cursor: pointer">
                        <img th:src="@{/svg/close3.svg}" alt="" width="16px" height="16px" />
                    </div>
                    <div class="normal-flex booking__header-title">Xác nhận và thanh toán</div>
                </div>
                <div class="start-flex" style="width: 100%; margin-top: 50px">
                    <div style="flex: 1; max-width: 45%">
                        <div style="padding-bottom: 24px; font-size: 22px; font-weight: 600">
                            Chuyến đi của bạn
                        </div>
                        <div class="flex-space">
                            <div>
                                <div style="font-weight: 600; font-size: 16px">Ngày</div>
                                <div class="checkinAndcheckoutTitle">
                                    [[${checkin}]] - [[${checkout}]]
                                </div>
                            </div>
                            <div>
                                <button class="booking__transparent-btn">Chỉnh sửa</button>
                            </div>
                        </div>
                        <div style="margin-top: 50px">
                            <form id="payment-form">
                                <div id="payment-element">
                                    <!--Stripe.js injects the Payment Element-->
                                </div>
                                <div style="width: 100%">
                                    <button type="submit" class="rdt_booking_button" id="submit">
                                        <div class="spinner hidden" id="spinner"></div>
                                        <span
                                            ><span
                                                style="
                                                    background-position: calc(
                                                            (100 - var(--mouse-x, 0)) * 1%
                                                        )
                                                        calc((100 - var(--mouse-y, 0)) * 1%);
                                                    --mouse-x: 96.4371;
                                                    --mouse-y: 50;
                                                "
                                            ></span></span
                                        ><span id="button-text">Xác nhận và thanh toán</span>
                                    </button>
                                </div>
                                <div id="payment-message" class="hidden"></div>
                            </form>
                        </div>
                    </div>
                    <div style="flex: 1; max-width: 5%"></div>
                    <div style="flex: 1; max-width: 50%">
                        <div id="boxPreview">
                            <div id="boxPreview-header">
                                <div>
                                    <img
                                        th:src="${room.renderThumbnailImage()}"
                                        alt=""
                                        style="
                                            width: 124px;
                                            height: 106px;
                                            object-fit: cover;
                                            vertical-align: bottom;
                                            border-radius: 10px;
                                        "
                                    />
                                </div>
                                <div style="margin-left: 20px">
                                    <div style="font-size: 14px; color: #717171">
                                        [[${room.privacyType.name}]] tại [[${room.category.name}]]
                                    </div>
                                    <div>[[${room.name}]]</div>
                                </div>
                            </div>
                            <div id="boxPreview-body" style="padding-top: 24px">
                                <div class="booking__price-details-title">Chi tiết giá</div>
                                <div class="previewPrice-line">
                                    <div class="flex-space">
                                        <div>
                                            <div
                                                style="
                                                    color: rgb(32, 32, 32);
                                                    font-size: 16px;
                                                    font-weight: 400;
                                                "
                                            >
                                                [[${room.currency.symbol}]][[${#numbers.formatDecimal(room.price,3,
                                                'POINT',0, 'COMMA')}]] x
                                                <span id="numberOfNight">[[${numberOfNights}]]</span
                                                >&nbsp;đêm&nbsp;
                                            </div>
                                        </div>
                                        <div style="font-size: 16px; font-weight: 400">
                                            [[${room.currency.symbol}]]<span
                                                id="totalRoomPrice"
                                            ></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="previewPrice-line">
                                    <div class="flex-space">
                                        <div>
                                            <div
                                                style="
                                                    color: rgb(32, 32, 32);
                                                    font-size: 16px;
                                                    font-weight: 400;
                                                    text-decoration: underline;
                                                "
                                            >
                                                Phí dịch vụ
                                            </div>
                                        </div>
                                        <div style="font-size: 16px; font-weight: 400">
                                            [[${room.currency.symbol}]]<span id="siteFee"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="boxPreview-footer" class="flex-space">
                                <div style="font-weight: 600; font-size: 16px">
                                    Tổng(<span style="text-decoration: underline"
                                        >[[${room.currency.unit}]]</span
                                    >)
                                </div>
                                <div style="font-size: 16px; font-weight: 600">
                                    [[${room.currency.symbol}]]<span id="totalPrice"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/helpers/format_number.js}"></script>
        <script th:inline="javascript">
            /*<![CDATA[*/
            const baseURL = /*[[@{/}]]*/ '';
            const roomPrice = /*[[${room.price}]]*/ 0;
            const roomPriceType = /*[[${room.priceType}]]*/ 'đêm';
            const symbol = /*[[${room.currency.symbol}]]*/ 'đ';
            const numberOfNights = /*[[${numberOfNights}]]*/ 0;
            const roomId = /*[[${room.id}]]*/ 0;
            const roomCurrency = /*[[${room.currency.unit}]]*/ 'vnd';
            const stripePublicKey = /*[[${stripePublicKey}]]*/ '';
            const checkoutPlain = /*[[${checkoutPlain}]]*/ '';
            const checkinPlain = /*[[${checkinPlain}]]*/ '';
            /*]]>*/
        </script>
        <script>
            let totalPrice = 0;
            jQuery(document).ready(function () {
                const totalRoomPrice = roomPrice * numberOfNights;
                const siteFee = totalRoomPrice * 0.05;
                totalPrice = totalRoomPrice + siteFee;

                $('#totalRoomPrice').text(seperateNumber(totalRoomPrice));
                $('#siteFee').text(seperateNumber(Math.ceil(siteFee)));
                $('#totalPrice').text(seperateNumber(Math.ceil(totalPrice)));

                const stripe = Stripe(stripePublicKey);

                const postObj = {
                    price: totalPrice,
                    currency: roomCurrency,
                };

                let elements;

                initialize();
                checkStatus();

                document.querySelector('#payment-form').addEventListener('submit', handleSubmit);
                // Fetches a payment intent and captures the client secret
                async function initialize() {
                    const response = await fetch(`${baseURL}api/create-payment-intent`, {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify(postObj),
                    });
                    const { clientSecret } = await response.json();

                    const appearance = {
                        theme: 'stripe',
                    };
                    elements = stripe.elements({ appearance, clientSecret });

                    const paymentElement = elements.create('payment');
                    paymentElement.mount('#payment-element');
                }

                async function handleSubmit(e) {
                    e.preventDefault();
                    setLoading(true);

                    const { data } = await axios.get(
                        `${baseURL}api/booking/${roomId}/create?checkin=${checkinPlain}&checkout=${checkoutPlain}&numberOfDays=${numberOfNights}`
                    );

                    if (data !== null) {
                        await axios.put(`${baseURL}bookings`, [data]);

                        const { error } = await stripe.confirmPayment({
                            elements,
                            confirmParams: {
                                return_url: `${window.location.origin}${baseURL}booking/success-booking`,
                            },
                        });

                        if (error.type === 'card_error' || error.type === 'validation_error') {
                            showMessage(error.message);
                        } else {
                            showMessage('An unexpected error occured.');
                        }

                        setLoading(false);
                    } else {
                        alert('Phòng này đã được đặt');
                        setLoading(false);
                    }
                }

                // Fetches the payment intent status after payment submission
                async function checkStatus() {
                    const clientSecret = new URLSearchParams(window.location.search).get(
                        'payment_intent_client_secret'
                    );

                    if (!clientSecret) {
                        return;
                    }

                    const { paymentIntent } = await stripe.retrievePaymentIntent(clientSecret);

                    switch (paymentIntent.status) {
                        case 'succeeded':
                            showMessage('Payment succeeded!');
                            break;
                        case 'processing':
                            showMessage('Your payment is processing.');
                            break;
                        case 'requires_payment_method':
                            showMessage('Your payment was not successful, please try again.');
                            break;
                        default:
                            showMessage('Something went wrong.');
                            break;
                    }
                }

                // ------- UI helpers -------

                function showMessage(messageText) {
                    const messageContainer = document.querySelector('#payment-message');

                    messageContainer.classList.remove('hidden');
                    messageContainer.textContent = messageText;

                    setTimeout(function () {
                        messageContainer.classList.add('hidden');
                        messageText.textContent = '';
                    }, 4000);
                }

                // Show a spinner on payment submission
                function setLoading(isLoading) {
                    if (isLoading) {
                        // Disable the button and show a spinner
                        document.querySelector('#submit').disabled = true;
                        document.querySelector('#spinner').classList.remove('hidden');
                        document.querySelector('#button-text').classList.add('hidden');
                    } else {
                        document.querySelector('#submit').disabled = false;
                        document.querySelector('#spinner').classList.add('hidden');
                        document.querySelector('#button-text').classList.remove('hidden');
                    }
                }
            });

            function backToRoomDetails() {
                window.location.href = `${baseURL}room/${roomId}`;
            }
        </script>
        <div th:replace="header :: javascript"></div>
    </body>
</html>
