<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
  <head th:replace="fragments::page_head(${pageTitle}, 'none')"> </head>

  <body>
    <div class="container-fluid">
      <div th:replace="navigation::menu"></div>

      <div>
        <h1>Manage Booking | [[${pageTitle}]]</h1>
      </div>

      <form
        style="max-width: 700px; margin: 0 auto"
        th:object="${booking}"
        onsubmit="return null"
      >
        <input type="hidden" th:field="*{id}" />
        <div class="border border-secondary rounded p-3">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Customer Name:</label>
            <div class="col-sm-8">
              <input
                type="text"
                class="form-control"
                th:field="*{customer.fullName}"
                minlength="2"
                maxlength="512"
                disabled
              />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Room Name:</label>
            <div class="col-sm-8">
              <input
                type="text"
                class="form-control"
                th:field="*{room.name}"
                minlength="2"
                maxlength="512"
                disabled
              />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Review:</label>
            <div class="col-sm-8">
              <textarea
                class="form-control"
                th:field="*{review}"
                rows="10"
                minlength="20"
                maxlength="2048"
                disabled
              ></textarea>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Check in Date</label>
            <div class="col-sm-8">
              <span
                th:text="${#dates.format(booking.checkinDate, 'dd-MM-yyyy')}"
              ></span>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Check out Date</label>
            <div class="col-sm-8">
              <span
                th:text="${#dates.format(booking.checkoutDate, 'dd-MM-yyyy')}"
              ></span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Booking Date</label>
            <div class="col-sm-8">
              <span
                th:text="${#temporals.format(booking.bookingDate, 'dd-MM-yyyy')}"
              ></span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Cancel Date</label>
            <div class="col-sm-8">
              <span
                th:text="${#temporals.format(booking.cancelDate, 'dd-MM-yyyy')}"
              ></span>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Price Per Day:</label>
            <div class="col-sm-8">
              <input
                type="text"
                class="form-control"
                th:field="*{pricePerDay}"
                minlength="2"
                maxlength="512"
                disabled
              />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Number of Day:</label>
            <div class="col-sm-8">
              <input
                type="text"
                class="form-control"
                th:field="*{numberOfDays}"
                minlength="2"
                maxlength="512"
                disabled
              />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Refund Paid:</label>
            <div class="col-sm-8">
              <input
                type="text"
                class="form-control"
                th:field="*{refundPaid}"
                minlength="2"
                maxlength="512"
                disabled
              />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Site Fee:</label>
            <div class="col-sm-8">
              <input
                type="text"
                class="form-control"
                th:field="*{siteFee}"
                minlength="2"
                maxlength="512"
                disabled
              />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Total Fee:</label>
            <div class="col-sm-8">
              <input
                type="text"
                class="form-control"
                th:field="*{totalFee}"
                minlength="2"
                maxlength="512"
                disabled
              />
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-4 col-form-label">Refund</div>
            <div class="col-sm-8">
              <input type="checkbox" th:field="*{refund}" disabled />
            </div>
          </div>
        </div>
      </form>

      <div th:replace="fragments :: modal_dialog"></div>

      <div th:replace="fragments::footer"></div>
    </div>
    <script type="text/javascript">
      MAX_FILE_SIZE = 1024000;
      moduleURL = "[[@{/admin/booking}]]";
      contextPath = "[[@{/admin/}]]";
    </script>
    <script th:src="@{/js/common_form.js}"></script>
  </body>
</html>
