<!DOCTYPE html>
<html xml:lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title></title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            type="text/css"
            th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
        />
        <link
            rel="stylesheet"
            href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"
        />
        <link
            rel="stylesheet"
            href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"
        />
        <link rel="stylesheet" th:href="@{/css/progress/earnings.css}" type="text/css" />
        <div th:replace="header :: css"></div>
    </head>
    <body>
        <div th:replace="header :: content"></div>

        <main>
            <div id="earnings__header" class="normal-flex" style="justify-content: center">
                <div class="mr-5">
                    <div class="card text-white mb-3 bg-danger" style="min-width: 20rem">
                        <div class="card-header text-center">
                            Thu nhập đặt phòng trong năm <span id="yearHeaderTitle"></span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">
                                [[${currencySymbol}]][[${#numbers.formatDecimal(totalFee, 3,
                                'POINT', 0, 'COMMA')}]]
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="mr-5">
                    <div class="card text-white mb-3 bg-primary" style="min-width: 20rem">
                        <div class="card-header text-center">Doanh thu tháng hiện tại</div>
                        <div class="card-body">
                            <h5 class="card-title text-center" id="earningsInCurrentMonth"></h5>
                        </div>
                    </div>
                </div>
                <div class="mr-5">
                    <div class="card text-white bg-success mb-3" style="min-width: 20rem">
                        <div class="card-header text-center">Tổng đặt phòng trong tháng</div>
                        <div class="card-body">
                            <h5
                                class="card-title text-center"
                                id="numberOfBookingsInCurrentMonth"
                            ></h5>
                        </div>
                    </div>
                </div>
            </div>

            <div id="earnings__body">
                <canvas id="myChart" width="400px" height="400px"></canvas>
            </div>

            <div id="earnings__footer" class="normal-flex">
                <div
                    class="normal-flex"
                    style="cursor: pointer"
                    onclick="getPreviousYearStats($(this));"
                >
                    <div>
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 18 18"
                            role="presentation"
                            aria-hidden="true"
                            focusable="false"
                            style="display: block; fill: #222; height: 16px; width: 16px"
                        >
                            <path
                                d="m13.7 16.29a1 1 0 1 1 -1.42 1.41l-8-8a1 1 0 0 1 0-1.41l8-8a1 1 0 1 1 1.42 1.41l-7.29 7.29z"
                                fill-rule="evenodd"
                            ></path>
                        </svg>
                    </div>
                    <div class="earnings__year" id="earnings__prev-year">2020</div>
                </div>
                <div class="flex-1"></div>
                <div id="earnings__current-year" class="earnings__year" style="font-weight: 600">
                    2021
                </div>
                <div class="flex-1"></div>
                <div
                    class="normal-flex"
                    style="cursor: pointer"
                    onclick="getNextYearStats($(this));"
                >
                    <div class="earnings__year" id="earnings__next-year">2022</div>
                    <div>
                        <svg
                            viewBox="0 0 32 32"
                            xmlns="http://www.w3.org/2000/svg"
                            aria-hidden="true"
                            role="presentation"
                            focusable="false"
                            style="
                                display: block;
                                fill: none;
                                height: 16px;
                                width: 16px;
                                stroke: currentcolor;
                                stroke-width: 5.33333;
                                overflow: visible;
                            "
                        >
                            <g fill="none">
                                <path
                                    d="m12 4 11.2928932 11.2928932c.3905243.3905243.3905243 1.0236893 0 1.4142136l-11.2928932 11.2928932"
                                ></path>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
        </main>

        <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script type="text/javascript" th:src="@{/js/helpers/format_number.js}"></script>
        <div th:replace="header :: javascript"></div>

        <script th:inline="javascript">
            /*<![CDATA[*/
            const feesInMonth = /*[[${feesInMonth}]]*/ [];
            const numberOfBookingsInMonth = /*[[${numberOfBookingsInMonth}]]*/ [];
            const baseURL = /*[[@{/}]]*/ '/airtnt/';
            const currencySymbol = /*[[${currencySymbol}]]*/ 0;
            /*]]>*/
        </script>
        <script>
            const date = new Date();
            const params = new URLSearchParams(window.location.search);
            const year = params.get('year') * 1;

            jQuery(document).ready(function () {
                $('#earnings__prev-year').text(year - 1);
                $('#earnings__current-year').text(year);
                $('#earnings__next-year').text(year + 1);
                $('#yearHeaderTitle').text(year);
                $('#numberOfBookingsInCurrentMonth').text(
                    numberOfBookingsInMonth[date.getMonth() + 1]
                );
                $('#earningsInCurrentMonth').text(
                    currencySymbol + seperateNumber(feesInMonth[date.getMonth() + 1] || 0)
                );
            });

            const labels = [];
            for (let i = 0; i <= 12; i++) {
                labels.push(`Tháng ${i}`);
            }

            const dataForDatasets = [];
            const dataForDatasets2 = [];
            for (let i = 0; i <= 12; i++) {
                if (feesInMonth[i]) dataForDatasets.push(feesInMonth[i]);
                else dataForDatasets.push(0);

                if (numberOfBookingsInMonth[i])
                    dataForDatasets2.push(feesInMonth[i] / numberOfBookingsInMonth[i]);
                else {
                    dataForDatasets2.push(0);
                    numberOfBookingsInMonth[i] = 0;
                }
            }

            let myChart;
            const source = new EventSource('http://localhost:8001/airtnt/bookings');
            source.addEventListener('booking-added', function (e) {
                const addedBookings = JSON.parse(e.data);
                addedBookings.forEach(({ id, bookingDate, totalFee, currencySymbol }) => {
                    const month = bookingDate.toString().split('-')[1] * 1;
                    if (currencySymbol === '$') totalFee *= 22_705;

                    dataForDatasets[month] = dataForDatasets[month] + totalFee;
                    dataForDatasets2[month] =
                        dataForDatasets[month] / (numberOfBookingsInMonth[month] + 1);

                    numberOfBookingsInMonth[month] += 1;
                });

                if (addedBookings.length > 0 && myChart) {
                    const totalMoney = dataForDatasets.reduce((acc, v) => acc + v, 0);
                    $('.earnings__total-earnings-in-year')
                        .first()
                        .text('đ' + seperateNumber(totalMoney));
                    myChart.destroy();
                    lineChart(dataForDatasets, dataForDatasets2);
                }
            });
            lineChart(dataForDatasets, dataForDatasets2);
            function lineChart(dataForDatasets, dataForDatasets2) {
                let delayed;
                const ctx = document.getElementById('myChart').getContext('2d');
                myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels,
                        datasets: [
                            {
                                label: 'Tổng doanh thu trong tháng',
                                backgroundColor: 'rgb(255, 99, 132)',
                                borderColor: 'rgb(255, 99, 132)',
                                data: dataForDatasets,
                            },
                            {
                                label: 'Thu nhập trung bình trong tháng',
                                fill: false,
                                backgroundColor: '#4bc0c0',
                                borderColor: '#4bc0c0',
                                borderDash: [5, 5],
                                data: dataForDatasets2,
                            },
                        ],
                    },
                    options: {
                        animation: {
                            onComplete: () => {
                                delayed = true;
                            },
                            delay: context => {
                                let delay = 0;
                                if (
                                    context.type === 'data' &&
                                    context.mode === 'default' &&
                                    !delayed
                                ) {
                                    delay = context.dataIndex * 100 + context.datasetIndex * 100;
                                }
                                return delay;
                            },
                        },
                        scales: {
                            y: {
                                display: true,
                                title: {
                                    display: true,
                                    text: 'Tiền đơn vị(VND)',
                                },
                            },
                            x: {
                                beginAtZero: true,
                                display: true,
                                title: {
                                    display: true,
                                    text: 'Tháng',
                                },
                            },
                        },
                        responsive: true,
                        plugins: {
                            legend: {
                                position: 'bottom',
                            },
                            title: {
                                display: true,
                                text: 'Tổng doanh thu trong năm' + year,
                            },
                        },
                        maintainAspectRatio: false,
                        interaction: {
                            mode: 'index',
                            intersect: false,
                        },
                    },
                });
            }

            function getPreviousYearStats(self) {
                window.location.href = `${baseURL}progress/earnings?year=${self
                    .children('#earnings__prev-year')
                    .text()}`;
            }

            function getNextYearStats(self) {
                window.location.href = `${baseURL}progress/earnings?year=${self
                    .children('#earnings__next-year')
                    .text()}`;
            }
        </script>
    </body>
</html>
