<!DOCTYPE html>
<html xml:lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title></title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            type="text/css"
            th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
        />
        <link
            rel="stylesheet"
            href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"
        />
        <link
            rel="stylesheet"
            href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"
        />
        <link rel="stylesheet" th:href="@{/css/progress/reviews.css}" type="text/css" />
        <div th:replace="header :: css"></div>
    </head>
    <body>
        <div th:replace="header :: content"></div>

        <main>
            <div class="d-flex align-items-center justify-content-center">
                <div class="mr-5">
                    <div class="card text-white mb-3 bg-primary" style="min-width: 20rem">
                        <div class="card-header text-center">Xếp hạng tổng thể</div>
                        <div class="card-body">
                            <h5
                                class="
                                    card-title
                                    text-center
                                    d-flex
                                    align-items-center
                                    justify-content-center
                                "
                            >
                                <span
                                    id="avgFinalRatings"
                                    style="
                                        font-size: 20px;
                                        display: inline-block;
                                        margin-right: 10px;
                                    "
                                    >[[${finalRatings}]]</span
                                >
                                <span>
                                    <img
                                        th:src="@{/svg/yellowstar.svg}"
                                        width="20px"
                                        height="20px"
                                        alt=""
                                    />
                                </span>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="mr-5">
                    <div class="card text-white mb-3 bg-success" style="min-width: 20rem">
                        <div class="card-header text-center">Toàn bộ đánh giá</div>
                        <div class="card-body">
                            <h5 class="card-title text-center">[[${#lists.size(reviews)}]]</h5>
                        </div>
                    </div>
                </div>
            </div>
            <section id="reviews__reviews-container">
                <div id="reviews__reviews-header" class="d-flex align-items-center">
                    <div
                        class="
                            reviews__select-rating
                            d-flex
                            align-items-center
                            justify-content-center
                        "
                        style="font-size: 14px"
                        data-star="all"
                    >
                        Tất cả
                    </div>
                    <div
                        class="
                            reviews__select-rating
                            d-flex
                            align-items-center
                            justify-content-center
                        "
                        data-star="5"
                    >
                        <span style="font-size: 14px; margin-right: 4px">5</span>
                        <span>
                            <img
                                th:src="@{/svg/yellowstar.svg}"
                                width="14px"
                                height="14px"
                                alt=""
                            />
                        </span>
                    </div>
                    <div
                        class="
                            reviews__select-rating
                            d-flex
                            align-items-center
                            justify-content-center
                        "
                        data-star="4"
                    >
                        <span style="font-size: 14px; margin-right: 4px">4</span>
                        <span>
                            <img
                                th:src="@{/svg/yellowstar.svg}"
                                width="14px"
                                height="14px"
                                alt=""
                            />
                        </span>
                    </div>
                    <div
                        class="
                            reviews__select-rating
                            d-flex
                            align-items-center
                            justify-content-center
                        "
                        data-star="3"
                    >
                        <span style="font-size: 14px; margin-right: 4px">3</span>
                        <span>
                            <img
                                th:src="@{/svg/yellowstar.svg}"
                                width="14px"
                                height="14px"
                                alt=""
                            />
                        </span>
                    </div>
                    <div
                        class="
                            reviews__select-rating
                            d-flex
                            align-items-center
                            justify-content-center
                        "
                        data-star="2"
                    >
                        <span style="font-size: 14px; margin-right: 4px">2</span>
                        <span>
                            <img
                                th:src="@{/svg/yellowstar.svg}"
                                width="14px"
                                height="14px"
                                alt=""
                            />
                        </span>
                    </div>
                    <div
                        class="
                            reviews__select-rating
                            d-flex
                            align-items-center
                            justify-content-center
                        "
                        data-star="1"
                    >
                        <span style="font-size: 14px; margin-right: 4px">1</span>
                        <span>
                            <img
                                th:src="@{/svg/yellowstar.svg}"
                                width="14px"
                                height="14px"
                                alt=""
                            />
                        </span>
                    </div>
                </div>
                <div
                    style="
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        gap: 10px;
                        margin-top: 20px;
                    "
                >
                    <th:block th:each="review : ${reviews}">
                        <div class="reviews__review-box">
                            <div class="normal-flex">
                                <div
                                    style="
                                        align-self: flex-start;
                                        display: flex;
                                        flex-direction: column;
                                        height: calc(153px - 24px);
                                        flex: 1;
                                    "
                                >
                                    <div class="normal-flex">
                                        <div
                                            style="
                                                width: 56px;
                                                height: 56px;
                                                border-radius: 50%;
                                                overflow: hidden;
                                            "
                                        >
                                            <img
                                                th:src="@{${review.booking.customer.avatarPath}}"
                                                alt=""
                                                style="width: 100%; height: 100%; object-fit: cover"
                                            />
                                        </div>
                                        <div style="margin-left: 12px; font-size: 16px">
                                            <div style="font-weight: 600">
                                                [[${review.booking.customer.fullName}]]
                                            </div>
                                            <div
                                                th:text="${#dates.format(review.createdDate,
                                                    'dd-MM-yyyy')}"
                                                style="color: #717171; font-size: 14px"
                                            ></div>
                                        </div>
                                    </div>
                                    <div
                                        style="
                                            flex: 1;
                                            text-overflow: ellipsis;
                                            overflow: hidden;
                                            margin-top: 10px;
                                            max-width: 300px;
                                            line-height: 20px;
                                        "
                                    >
                                        [[${review.comment}]]
                                    </div>
                                </div>

                                <div class="normal-flex">
                                    <div style="flex: 1; max-width: 50%">
                                        <div class="rdt__review-line">
                                            <div style="font-size: 14px">Mức độ sạch sẽ</div>
                                            <div class="normal-flex">
                                                <div class="rdt__empty-rating">
                                                    <div
                                                        id="cleanlinessRating"
                                                        th:class="${'rdt__rating w-' + review.subRating.cleanliness}"
                                                    ></div>
                                                </div>
                                                <span
                                                    id="averageCleanlinessRating"
                                                    style="font-size: 14px; font-weight: 500"
                                                    >[[${review.subRating.cleanliness}]]</span
                                                >
                                            </div>
                                        </div>
                                        <div class="rdt__review-line">
                                            <div style="font-size: 14px">Liên lạc</div>
                                            <div class="normal-flex">
                                                <div class="rdt__empty-rating">
                                                    <div
                                                        id="contactRating"
                                                        th:class="${'rdt__rating w-' + review.subRating.contact}"
                                                    ></div>
                                                </div>
                                                <span
                                                    id="averageContactRating"
                                                    style="font-size: 14px; font-weight: 500"
                                                    >[[${review.subRating.contact}]]</span
                                                >
                                            </div>
                                        </div>
                                        <div class="rdt__review-line">
                                            <div style="font-size: 14px">Nhận phòng</div>
                                            <div class="normal-flex">
                                                <div class="rdt__empty-rating">
                                                    <div
                                                        id="checkinRating"
                                                        th:class="${'rdt__rating w-' + review.subRating.checkin}"
                                                    ></div>
                                                </div>
                                                <span
                                                    id="averageCheckinRating"
                                                    style="font-size: 14px; font-weight: 500"
                                                    >[[${review.subRating.checkin}]]</span
                                                >
                                            </div>
                                        </div>
                                    </div>
                                    <div style="flex: 1; max-width: 50%">
                                        <div class="rdt__review-line">
                                            <div style="font-size: 14px">Độ chính xác</div>
                                            <div class="normal-flex">
                                                <div class="rdt__empty-rating">
                                                    <div
                                                        id="accuracyRating"
                                                        th:class="${'rdt__rating w-' + review.subRating.accuracy}"
                                                    ></div>
                                                </div>
                                                <span
                                                    id="averageAccuracyRating"
                                                    style="font-size: 14px; font-weight: 500"
                                                    >[[${review.subRating.accuracy}]]</span
                                                >
                                            </div>
                                        </div>
                                        <div class="rdt__review-line">
                                            <div style="font-size: 14px">Vị trí</div>
                                            <div class="normal-flex">
                                                <div class="rdt__empty-rating">
                                                    <div
                                                        id="locationRating"
                                                        th:class="${'rdt__rating w-' + review.subRating.location}"
                                                    ></div>
                                                </div>
                                                <span
                                                    id="averageLocationRating"
                                                    style="font-size: 14px; font-weight: 500"
                                                    >[[${review.subRating.location}]]</span
                                                >
                                            </div>
                                        </div>
                                        <div class="rdt__review-line">
                                            <div style="font-size: 14px">Giá trị</div>
                                            <div class="normal-flex">
                                                <div class="rdt__empty-rating">
                                                    <div
                                                        id="valueRating"
                                                        th:class="${'rdt__rating w-' + review.subRating.value}"
                                                    ></div>
                                                </div>
                                                <span
                                                    id="averageValueRating"
                                                    style="font-size: 14px; font-weight: 500"
                                                    >[[${review.subRating.value}]]</span
                                                >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </section>
        </main>

        <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script type="text/javascript" th:src="@{/js/helpers/format_number.js}"></script>
        <div th:replace="header :: javascript"></div>

        <script th:inline="javascript">
            /*<![CDATA[*/
            const baseURL = /*[[@{/}]]*/ '/airtnt/';
            /*]]>*/
        </script>
        <script>
            jQuery(document).ready(function () {
                $('.reviews__select-rating').each(function () {
                    $(this).click(function () {
                        let url = '';
                        if ($(this).data('star') === 'all') {
                            url = `${baseURL}progress/reviews`;
                        } else url = `${baseURL}progress/reviews?numberOfStars=${$(this).data('star')}`;

                        window.location.href = url;
                    });
                });
            });
        </script>
    </body>
</html>
