.become-a-host__main {
    width: 100%;
    height: 100vh;
}

.become-a-host__container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.logoWrapper {
    position: absolute;
    top: 32px;
    left: 32px;
    z-index: 99;
}

#airTntLogo {
    width: 100px;
    height: 50px;
    object-fit: contain;
}

.become-a-host__left {
    position: relative;
}

.become-a-host__left,
.become-a-host__right {
    flex: 1;
    max-width: 50%;
    height: 100%;
}

.become-a-host__right {
    display: flex;
    flex-direction: column;
    background-color: #000000;
}

.become-a-host__right-first {
    height: 88px;
    padding-right: 32px;
    padding-top: 16px;
}

.become-a-host__right-first,
.become-a-host__right-last {
    align-self: flex-end;
}

.become-a-host__right-middle {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.become-a-host__right-middle h1 {
    margin-bottom: 32px;
    color: #fff;
    width: 70%;
}

.become-a-host__right-middle h4 {
    width: 50%;
    text-align: center;
    font-size: 18px;
    color: #fff;
}

.become-a-host__right-last {
    height: 80px;
    padding-right: 32px;
    padding-bottom: 16px;
}

.become-a-host__right-cancelBtn {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    cursor: pointer;
    text-align: center;
    border: none rgb(176, 176, 176);
    background-color: rgb(34, 34, 34);
    outline: none;
    padding: 0 px 16 px;
    margin: 0 px;
    border-radius: 32 px;
    color: rgb(255, 255, 255);
    position: relative;
    height: 32 px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex: 1 1 0%;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    border-radius: 32px;
    height: 32px;
    width: calc(32px * 2);
}

.become-a-host__right-startBtn {
    cursor: pointer;
    display: inline-block;
    margin: 0 px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: auto;
    touch-action: manipulation;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8 px;
    outline: none;
    padding: 14 px 24 px;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s,
        -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    -webkit-tap-highlight-color: transparent;
    border: none;
    background: linear-gradient(
        to right,
        rgb(230, 30, 77) 0%,
        rgb(227, 28, 95) 50%,
        rgb(215, 4, 102) 100%
    );
    color: rgb(255, 255, 255);
    width: 200px;
    height: 48px;
    border-radius: 10px;
    font-size: 18px;
}

@media (min-width: 991px) {
    .become-a-host__right-middle h1 {
        width: 40%;
    }
}
