.main {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.register__container {
    display: flex;
    flex-direction: column;
    width: 568px;
    padding: 24px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.customBtn {
    background-image: radial-gradient(
        circle at center center,
        rgb(255, 56, 92) 0%,
        rgb(230, 30, 77) 27.5%,
        rgb(227, 28, 95) 40%,
        rgb(215, 4, 102) 57.5%,
        rgb(189, 30, 89) 75%,
        rgb(189, 30, 89) 100%
    ) !important;
    color: white;
    width: 100%;
    min-width: 200px;
}

.register__header {
    color: #222;
    text-align: center;
}

.register__title {
    color: #222;
    text-align: center;
    font-style: italic;
}

.c-validation {
    background: #c51244 !important;
    padding: 10px 5px !important;
    border-radius: 2px !important;
    position: relative;
    display: inline-block !important;
    box-shadow: 1px 1px 1px #aaaaaa;
    margin-top: 10px;
    width: 100%;
    font-size: 14px;
}

.c-validation:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #c51244;
    position: absolute;
    top: -10px;
}
.c-label:after {
    color: #c51244 !important;
}

.duplicateEmailError {
    display: none;
    color: red;
    font-size: 14px;
    font-style: italic;
    transition: all 0.2 ease-in;
}

.duplicateEmailError.hasError {
    display: block;
}
