main {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
}

#user-bookings__container {
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
    padding: 80px;
}

.user-bookings__room-name {
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 16px;
    line-height: 22px;
    max-height: 48px;
}

.user-bookings__booking-body {
    border-top: 1px solid rgb(211, 211, 211);
    border-bottom: 1px solid rgb(211, 211, 211);
    height: 130px;
}

.user-bookings__booking-footer {
    padding: 0 24px;
}

.user-bookings__add-to-fav-btn {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 4px;
    width: 90px;
    background-color: #efefef;
    /* border: 1px solid rgb(255, 56, 92); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-bookings__add-to-fav-btn:hover {
    background-color: rgb(255, 56, 92);
    color: #fff;
}

.user-bookings__customer-name {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    margin-left: 4px;
}

.user-bookings__booking-box {
    max-width: 993px;
    height: 322px;
    border: 1px solid rgb(211, 211, 211);

    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.user-bookings__booking-box:hover {
    border: 1px solid #222;
    transition: all 0.1s ease-out;
}

.box-padding {
    padding: 24px 12px 12px;
}

.user-bookings__currency-symbol {
    font-size: 14px;
    text-decoration: underline;
}

input {
    outline: none;
    border: none;
    background: #eaeaea;
}

#user-bookings__search-container {
    border: 1px solid #222;
    border-radius: 4px;
    height: 43px;
    background: #eaeaea;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    padding: 12px;
    margin: 12px 0;
    max-width: 993px;
}

.transparent__btn {
    cursor: pointer;
    text-decoration: underline;
    background: none;
    outline: none;
    border: none;
}

.booking-status {
    color: rgba(14, 98, 69, 1);
    font-size: 14px;
}

.chooseRoomThumbnail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 999999;
    width: 100vw;
    height: 100vh;
    display: none;
}

.chooseRoomThumbnail.active {
    display: block;
}

.innerWrapper {
    width: 780px;
    height: calc(calc(81px * 2) + 364px);
    background-color: white;
    margin-top: 40px;
    border-radius: 16px;
}

#boxHeader,
#boxFooter {
    padding: 0 24px;
    height: 81px;
}

#boxHeader,
#boxBody {
    border-bottom: 1px solid rgb(211, 211, 211);
}

#boxBody {
    padding: 24px;
    height: calc(100% - calc(81px * 2));
}

.manage-photos__title {
    font-size: 16px;
    line-height: 20px;
    color: rgb(34, 34, 34);
    display: block;
    padding: 0px;
    font-weight: 800;
}

.manage-photos__cancel-btn {
    cursor: pointer;
    display: inline-block;
    margin: 0px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: auto;
    font-size: 16px;
    line-height: 20px;
    height: 48px;
    font-weight: 600;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    outline: none;
    padding: 13px 23px;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s,
        transform 0.1s ease 0s;
    border-color: rgb(34, 34, 34);
    background: rgb(255, 255, 255);
    color: rgb(34, 34, 34);
}

.manage-photos__save-edit-btn {
    cursor: pointer;
    display: inline-block;
    margin: 0px;
    position: relative;
    text-align: center;
    text-decoration: none;
width: auto;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    outline: none;
    padding: 8px 16px;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s,
        transform 0.1s ease 0s;
    border: none;
    background: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
    height: 48px;
    width: 100.75px;
    margin-left: 20px;
}

.ratingContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-columns: repeat(2, 1fr);
    padding: 29px 0;
    column-gap: 10px;
}

.ratingStar {
    display: block;
    margin-right: 5px;
    cursor: pointer;
    width: 32px;
    height: 32px;
}

.ratingStar.selected {
    fill: #d0011b;
}

#ratingComment {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.mr-10 {
    margin-right: 10px;
}

.button {
    margin: 0px;
    position: relative;
    text-align: center;
    text-decoration: none;
width: auto;
    touch-action: manipulation;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    border-radius: 8px;
    outline: none;
    padding: 14px 2px;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s,
        transform 0.1s ease 0s;
    -webkit-tap-highlight-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
    width: 180px;
    height: 42px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button.bg-red {
    background: linear-gradient(
        to right,
        rgb(230, 30, 77) 0%,
        rgb(227, 28, 95) 50%,
        rgb(215, 4, 102) 100%
    );
}

.button.bg-normal {
    background-color: #fff;
    border: 1px solid #4e54c8;
    color: #222;
    transition: all 0.1s ease;
}

.button.bg-normal:hover {
    background-color: #4e54c8;
    color: #fff;
}

.unactive {
    height: 100vh;
    overflow-y: hidden;
}

#ratingComment {
    height: 69px;
}
