#booking--listings__mainContainer {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
}

.listings__filter-container {
    display: flex; 
}

#listings__filter-others {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    position: absolute;
    margin-top: 12px;
    background: rgb(255, 255, 255);
    border-radius: 12px;
    border: 0.5px solid rgba(118, 118, 118, 0.28);
    box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px;
    z-index: 2001;
    width: 300px;
    top: 100%;
    height: 229px;
    left: 0px;
    right: auto;
    display: none;
}

#listings__filter-roomAndBedRoom {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    position: absolute;
    margin-top: 12px;
    background: rgb(255, 255, 255);
    border-radius: 12px;
    border: 0.5px solid rgba(118, 118, 118, 0.28);
    box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px;
    z-index: 2001;
    min-width: 300px;
    height: fit-content;
    width: max-content;
    top: 100%;
    left: 0px;
    right: auto;
    display: none;
}

#listings__filter-findByMonthAndYear {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    position: absolute;
    margin-top: 12px;
    background: rgb(255, 255, 255);
    border-radius: 12px;
    border: 0.5px solid rgba(118, 118, 118, 0.28);
    box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px;
    z-index: 2001;
    width: 500px;
    top: 100%;
    height: fit-content;
    left: 0px;
    right: auto;
    display: none;
}

#listings__filter-bookingStatus {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    position: absolute;
    margin-top: 12px;
    background: rgb(255, 255, 255);
    border-radius: 12px;
    border: 0.5px solid rgba(118, 118, 118, 0.28);
    box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px;
    z-index: 2001;
    width: 300px;
    top: 100%;
    height: fit-content;
    left: 0px;
    right: auto;
    display: none;
}

.listings__search-room {
    display: flex;
    align-items: center;
    width: 327px;
    height: 32px;
    margin-right: 30px;
    border: 1px solid #b0b0b0;
    border-radius: 32px;
    padding: 6px 18px;
}
