*,
*::before,
*::after {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: calc(100vh - 80px);
}

ul {
    list-style: none;
    margin-bottom: 0px;
    padding-left: 10px;
}

li a {
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    border-left: 2px solid transparent;
    position: relative;
    display: block;
    cursor: pointer;
    color: #222222;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 20px;
}

ul {
    border-left: 1px solid #cbc8c8;
    margin-left: 10px;
}
ul li {
    position: relative;
}

.li-before {
    border-left: 2px solid #222;
    position: absolute;
    top: 50%;
    left: -11px;
    width: 0px;
    height: 100%;
    transform: translateY(-50%);
    display: none;
}

ul li.active .li-before {
    display: block;
}

#manage-ys__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 144px 80px;
    width: 1440px;
    max-width: 90%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

#roomName {
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 48px;
}

.manage-ys__left-room-details {
    display: block;
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    font-weight: 600;
    background-color: #f7f7f7;
}

.normal-flex {
    display: flex;
    align-items: center;
}

.flex-space {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.manage-ys__transparent-btn {
    outline: none;
    border: none;
    background-color: transparent;
    text-decoration: underline;
    color: #222;
    font-size: 14px;
    font-weight: 500;
    transition: box-shadow 0.2s ease, -ms-transform 0.1s ease, -webkit-transform 0.1s ease,
        transform 0.1s ease !important;
    line-height: 18px;
    cursor: pointer;
    padding: 8px;
    border-radius: 8px;
}

.manage-ys__left {
    flex: 1;
    max-width: 30%;
    position: relative;
}

.manage-ys__left-scrolling-menu {
    width: 260px;
}

.manage-ys__left-scrolling-menu.active {
    position: fixed;
    top: 80px;
    left: calc(calc(100% - calc(90% * 1440px)) / 2);
}

.menuContainer {
    padding-top: 18px;
}

.menuContainer ul li {
    height: calc(100% / 5);
    display: flex;
    align-items: center;
}

.manage-ys__right {
    flex: 1;
    max-width: 65%;
}

.manage-ys__section-container {
    width: 853px;
    margin-bottom: 48px;
    border-bottom: 1px solid #d3d6db;
}

.manage-ys__section-container:nth-child(3),
.manage-ys__section-container:nth-child(4) {
    padding-bottom: 48px;
}

.manage-ys__section-title {
    font-size: 18px;
    line-height: 26px;
    color: #222;
    font-weight: 600;
}

.manage-ys__section-content {
    height: 80px;
}

.manage-ys__section-content:last-child {
    border-bottom: none;
}

.manage-ys__section-content-title {
    font-size: 16px;
    line-height: 24px;
    color: #222222;
    display: block;
    padding: 0px;
}
.manage-ys__section-content-info {
    font-size: 14px;
    color: #717171;
    line-height: 18px;
    max-height: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    position: relative;
}

.manage-ys__minus-btn,
.manage-ys__plus-btn,
.manage-ys__check-btn,
.manage-ys__uncheck-btn {
    width: 32px;
    height: 32px;
    flex-grow: 0;
    flex-shrink: 0;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    margin: 0px;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    border-color: #b0b0b0;
    color: #717171;
    font-family: inherit;
    outline: none;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border-radius: 50%;
}

.manage-ys__check-btn.checked,
.manage-ys__uncheck-btn.checked {
    display: flex;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    height: 32px;
    width: 32px;
    contain: layout;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border-color: rgb(34, 34, 34);
    background: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
}

#manage-ys__guestNumber,
#manage-ys__bedRoom,
#manage-ys__bed,
#manage-ys__bathRoom {
    width: 104px;
    height: 32px;
    color: #222222;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin: 0 10px;
}

.manage-ys__preview-room-btn {
    cursor: pointer;
    display: inline-block;
    margin: 0px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: auto;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    outline: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    transition: box-shadow 0.2s ease, -ms-transform 0.1s ease, -webkit-transform 0.1s ease,
        transform 0.1s ease;
    border-color: #222222;
    background: #ffffff;
    color: #222222;
}

.manage-ys__save-edit-btn {
    cursor: pointer;
    display: inline-block;
    margin: 0px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: auto;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    border-radius: 8px;
    outline: none;
    padding: 8px 16px;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s,
        transform 0.1s ease 0s;
    border: none;
    background: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
}

.section-view-and-edit {
    border-bottom: 1px solid #d3d6db;
}

#manage-ys__name-control-container,
#manage-ys__description-control-container,
#manage-ys__status-control-container,
#manage-ys__location-control-container,
#manage-ys__groupAndTypeAndPrivacy-control-container,
#manage-ys__roomInfo-control-container,
#manage-ys__amentities-control-container {
    position: relative;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
    border-radius: 16px;
    height: fit-content;
    margin: 25px 0;
}

#manage-ys__name-control-container.unhideEditBox,
#manage-ys__description-control-container.unhideEditBox,
#manage-ys__status-control-container.unhideEditBox,
#manage-ys__location-control-container.unhideEditBox,
#manage-ys__groupAndTypeAndPrivacy-control-container.unhideEditBox,
#manage-ys__roomInfo-control-container.unhideEditBox,
#manage-ys__amentities-control-container.unhideEditBox {
    display: block;
}

#manage-ys__name-control-view.hideViewBox,
#manage-ys__name-control-container,
#manage-ys__description-control-view.hideViewBox,
#manage-ys__description-control-container,
#manage-ys__status-control-view.hideViewBox,
#manage-ys__status-control-container,
#manage-ys__location-control-view.hideViewBox,
#manage-ys__location-control-container,
#manage-ys__groupAndTypeAndPrivacy-control-view.hideViewBox,
#manage-ys__groupAndTypeAndPrivacy-control-container,
#manage-ys__roomInfo-control-view.hideViewBox,
#manage-ys__roomInfo-control-container,
#manage-ys__roomInfo-control-view.hideViewBox,
#manage-ys__amentities-control-container,
#manage-ys__amentities-control-view.hideViewBox {
    display: none;
}

.manage-ys__section-edit {
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
}

._dsnwjc {
    outline: none;
    margin-top: 18px;
    min-height: 1px;
    background-color: transparent;
    appearance: none;
    width: 600px;
    height: 56px;
    border-radius: 10px;
    padding: 12px;
}

input[type='text'],
textarea {
    border: 1px solid;
    border-color: rgb(221, 221, 221);
}

input[type='text']:focus,
textarea:focus {
    border-color: #222;
}

input[type='radio'] {
    appearance: none;
    border: 1px solid rgb(176, 176, 176);
    background: rgb(255, 255, 255);
    overflow: hidden;
    border-radius: 50%;
    vertical-align: top;
    outline: none;
    height: 22px;
    width: 22px;
}

input[type='radio']:checked {
    appearance: none;
    border-style: solid;
    overflow: hidden;
    border-radius: 50%;
    vertical-align: top;
    outline: none;
    border-color: rgb(34, 34, 34);
    border-width: 7px;
    background: white;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0px;
}

.manage-ys__status-control-edit-content {
    padding: 24px 24px 0px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.manage-ys__status-control-subtext {
    color: rgb(113, 113, 113);
    margin-top: 4px;
    word-break: break-word;
    font-size: 14px;
    line-height: 18px;
}

.manage-ys__location-control__useCurrentPosition-btn {
    cursor: pointer;
    display: inline-block;
    margin: 0px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: auto;
    touch-action: manipulation;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    outline: none;
    padding: 7px 15px;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s,
        transform 0.1s ease 0s;
    border-color: rgb(34, 34, 34);
    background: rgb(255, 255, 255);
    color: rgb(34, 34, 34);
}

.manage-ys__input {
    border: 1px solid rgb(221, 221, 221);
    width: 100%;
    height: 56px;
    outline: none;
    padding-left: 12px;
    margin: 18px 0px;
    min-height: 1px;
    border-radius: 10px;
    font-size: 16px;
}

.manage-ys__label {
    color: rgb(34, 34, 34);
    font-size: 16px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 8px;
    display: block;
}

.manage-ys__location-control-content {
    padding: 24px 24px 0px;
    flex: 1;
}

.col-flex {
    display: flex;
    flex-direction: column;
}

.manage-ys__roominfo-control-container {
    height: 601px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

.manage-ys__header-edit-main-title {
    font-size: 16px;
    line-height: 20px;
    color: rgb(34, 34, 34);
    display: block;
    padding: 0px;
    font-weight: 800;
}

.manage-ys__header-edit-main-subtitle {
    margin-top: 4px;
    font-size: 12px;
    line-height: 16px;
    color: rgb(113, 113, 113);
    font-weight: 400;
}
.counter {
    font-size: 12px;
    line-height: 16px;
    color: rgb(113, 113, 113);
    font-weight: 800;
    margin-top: 8px;
    margin-bottom: 12px;
}

.manage-ys__transparent-btn:hover {
    border: none;
    background: #f7f7f7;
    color: #000000;
}
