<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeLeaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
  xml:lang="en"
>
  <head th:replace="fragments::page_head('Rooms', 'none')"> </head>

  <body>
    <div class="container-fluid">
      <div th:replace="navigation::menu"></div>

      <div>
        <h1>Manage Rooms</h1>
        <a
          th:href="@{/admin/rooms/new}"
          class="fas fa-user-plus fa-2x icon-dark mr-2"
        ></a>
      </div>

      <div
        th:replace="fragments :: search_form_and_message('/admin/rooms/page/1')"
      ></div>

      <div class="full-details table-responsive-xl">
        <table class="table table-bordered table-striped table-hover">
          <thead class="thead-dark">
            <th
              th:replace="fragments :: column_link('/admin/rooms', 'id', 'ID', 'none')"
            ></th>
            <th>Image</th>
            <th
              th:replace="fragments :: column_link('/admin/rooms', 'name', 'NAME', 'none')"
            ></th>
            <th>Description</th>
            <th
              th:replace="fragments :: column_link('/admin/rooms', 'category', 'CATEGORY', 'none')"
            ></th>
            <th
              th:replace="fragments :: column_link('/admin/rooms', 'accomodatesCount', 'ACCOMODATES COUNT', 'none')"
            ></th>
            <th
              th:replace="fragments :: column_link('/admin/rooms', 'price', 'PRICE', 'none')"
            ></th>
            <th>status</th>
            <th>Review and Rating</th>
            <th></th>
          </thead>
          <tbody>
            <tr th:each="room : ${listRooms}">
              <td class="hideable-column">[[${room.id}]]</td>
              <td>
                <img
                  th:src="${room.renderThumbnailImage()}"
                  style="width: 50px; height: 50px"
                />
              </td>
              <td>[[${room.name}]]</td>
              <td class="hideable-column">[[${room.description}]]</td>
              <td>[[${room.category.name}]]</td>
              <td>[[${room.accomodatesCount}]]</td>
              <td>[[${room.price}]]</td>

              <td>
                <div
                  th:replace="fragments::status(${room.status}, 'room', '/admin/rooms/'+${room.id})"
                ></div>
              </td>

              <td>
                <div
                  th:replace="fragments::seeReview('Room', '/admin/rooms/seeReview/' + ${room.id})"
                ></div>
                &nbsp;
              </td>
              <td>
                <div
                  th:replace="fragments::edit('room', '/admin/rooms/edit/' + ${room.id})"
                ></div>
                &nbsp;
                <div
                  th:replace="fragments::delete('room', '/admin/rooms/delete/' + ${room.id}, true, ${room.id})"
                ></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div th:replace="fragments :: pagination('/admin/rooms', 'rooms')"></div>

      <div th:replace="fragments :: confirm_modal"></div>

      <div th:replace="fragments::footer"></div>
    </div>
    <script type="text/javascript">
      $(document).ready(function () {
        $(".link-delete").on("click", function (e) {
          e.preventDefault();
          link = $(this);
          roomId = link.attr("entityId");
          $("#yesButton").attr("href", link.attr("href"));
          $("#confirmText").text(
            "Are you sure you want to delete this room ID " + roomId + "?"
          );
          $("#confirmModal").modal();
        });
      });
    </script>
  </body>
</html>
