#table {
    width: 100%;
}

.listings__room-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: bottom;
    border-radius: 8px;
}

#listings__main-conainer {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: calc(100vh - 80px);
}

.listings__container {
    padding: 32px 24px 16px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.listings__header-rooms-length {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    font-size: 22px;
    line-height: 26px;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    font-weight: 600;
    min-width: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.listings__create-new-room {
    cursor: pointer;
    margin: 0px;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    border-radius: 10px;
    outline: none;
    transition: box-shadow 0.2s ease, -ms-transform 0.1s ease, -webkit-transform 0.1s ease,
        transform 0.1s ease;
    border-color: #222222;
    background: #ffffff;
    border: 1px solid #222222;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 175px;
    height: 40px;
    padding: 16px;
}

table {
    margin-top: 20px;
}

tr {
    border-bottom: 1px solid #ebebeb;
    height: 70px;
}

tbody tr:hover::after {
    transform: translate(0, 0);
}

tbody tr:hover {
    --table-row-background-color: #f7f7f7;
    border-radius: 8px;
    background: #f7f7f7;
    border-top-color: #f7f7f7;
    box-shadow: -12px 0 0 0 #f7f7f7, 12px 0 0 0 #f7f7f7;
}

th.remove {
    display: none;
}

td.remove {
    display: none;
}

tbody tr {
    cursor: pointer;
}

.listings__complete-room-making {
    cursor: pointer;
    display: inline-block;
    margin: 0px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: auto;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    outline: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    transition: box-shadow 0.2s ease, -ms-transform 0.1s ease, -webkit-transform 0.1s ease,
        transform 0.1s ease;
    border-color: #222222;
    background: #ffffff;
    color: #222222;
}

.listings__room-name {
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    text-align: left;
    margin-bottom: 0px;
    line-height: 20px;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-left: 12px;
    width: 300px;
}

.listings__td-text {
    font-size: 14px;
    line-height: 18px;
    color: #222222;
}

.filter-count {
    margin: 0 10px;
}

.listings__minus-btn,
.listings__plus-btn {
    width: 32px;
    height: 32px;
    flex-grow: 0;
    flex-shrink: 0;
    cursor: pointer;
    display: inline-flex;
    margin: 0px;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(176, 176, 176);
    color: rgb(113, 113, 113);
    outline: none;
    touch-action: manipulation;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.listings__transparent-btn {
    outline: none;
    border: none;
    background-color: transparent;
    text-decoration: underline;
    color: #222;
    font-size: 16;
    font-weight: 500;
}

/* .listings__transparent-btn:hover {
    background-color: red;
} */

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#listings__setting-column-display {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    background: rgb(255, 255, 255);
    border-radius: 12px;
    border: 0.5px solid rgba(118, 118, 118, 0.28);
    box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px;
    z-index: 2001;
    overflow: hidden auto;
    width: 300px;
    top: 100%;
    height: 229px;
    right: 0px;
    left: auto;
    display: none;
}

.listings__setting-column-display-header {
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 16px;
}

.listings__setting-column-display-row {
    height: calc(100% / 5);
}

.listings__setting-column-display-row div:last-child {
    margin-left: 10px;
}

.listings__transparent-btn:disabled {
    color: #dddddd;
    cursor: not-allowed;
}

.listings__minus-btn:disabled {
    cursor: not-allowed;
    color: rgb(235, 235, 235);
    border-color: rgb(235, 235, 235);
    background: rgb(255, 255, 255);
}

/*PAGING*/
.pagination {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    height: 80px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #4caf50;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}
/*END OF PAGING*/

.fs-14 {
    font-size: 14px;
}

.no-room-style {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}

.amn-name {
    font-size: 14px;
    margin-left: 8px;
    height: 35px;
}

.h-80 {
    height: 80%;
}

.p-24 {
    padding: 24px;
}

.room-listings__room-data-id {
    padding-left: 8px;
}

.listings__room-thumbnail-container {
    width: 56px;
    height: 40px;
}

.filter-footer__container {
    padding: 24px;
    border-top: 1px solid #b0b0b0;
}
