<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Quản lý mục cho thuê của bạn</title>

        <link
            rel="stylesheet"
            type="text/css"
            th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
        />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
            rel="stylesheet"
        />
        <div th:replace="header :: css"></div>
        <link rel="stylesheet" th:href="@{/css/hosting/listings.css}" />
    </head>

    <body>
        <div th:replace="header :: content"></div>

        <main>
            <div class="listings__container">
                <div class="listings__header flex">
                    <div class="listings__header-rooms-length">
                        [[${roomsLength}]] nhà/phòng cho thuê
                    </div>
                    <div>
                        <button class="listings__create-new-room" onclick="createNewRoom();">
                            <span>
                                <img
                                    th:src="@{/svg/plus.svg}"
                                    alt=""
                                    width="16px"
                                    height="16px"
                                    style="object-fit: cover"
                                />
                            </span>
                            <div style="margin-left: 10px">Tạo mục cho thuê</div>
                        </button>
                    </div>
                </div>
                <div class="listings__filter-container">
                    <div class="listings__search-room">
                        <div class="listings__search-icon-container" onclick="filterRoomByName();">
                            <img th:src="@{/svg/search.svg}" alt="" width="12px" height="12px" />
                        </div>
                        <div style="flex: 1">
                            <input
                                type="text"
                                placeholder="Tìm kiếm nhà/phòng cho thuê"
                                id="listings__search-input"
                            />
                        </div>
                    </div>
                    <div class="listings__filter">
                        <button
                            class="listings__filter-option"
                            data-dropdown="listings__filter-roomAndBedRoom"
                        >
                            <span> Phòng và phòng ngủ</span>
                            <div class="listings__filter-img-container">
                                <img
                                    th:src="@{/svg/dropdown.svg}"
                                    alt=""
                                    width="12px"
                                    height="12px"
                                />
                            </div>
                        </button>
                        <div id="listings__filter-roomAndBedRoom">
                            <div class="listings__filter-wrapper">
                                <div class="filter-box">
                                    <div class="flex listings__filter-roomAndBedRoom-row">
                                        <div>Phòng ngủ</div>
                                        <div
                                            th:replace="hosting/_listings_partial :: incAndDecBtn('listings__bed-room-count', 'roomAndBedRoom')"
                                        ></div>
                                    </div>
                                    <div class="flex listings__filter-roomAndBedRoom-row">
                                        <div>Giường</div>
                                        <div
                                            th:replace="hosting/_listings_partial :: incAndDecBtn('listings__bed-count', 'roomAndBedRoom')"
                                        ></div>
                                    </div>
                                    <div class="flex listings__filter-roomAndBedRoom-row">
                                        <div>Phòng tắm</div>
                                        <div
                                            th:replace="hosting/_listings_partial :: incAndDecBtn('listings__bath-room-count', 'roomAndBedRoom')"
                                        ></div>
                                    </div>
                                </div>
                                <div
                                    th:replace="hosting/_listings_partial :: filterFooter('roomAndBedRoom')"
                                ></div>
                            </div>
                        </div>
                    </div>
                    <div class="listings__filter">
                        <button
                            class="listings__filter-option"
                            data-dropdown="listings__filter-amentities"
                        >
                            <span>Tiện nghi</span>
                            <div class="listings__filter-img-container">
                                <img
                                    th:src="@{/svg/dropdown.svg}"
                                    alt=""
                                    width="12px"
                                    height="12px"
                                />
                            </div>
                        </button>
                        <div id="listings__filter-amentities">
                            <div class="grid-2 filter-box" style="height: 80%">
                                <th:block th:each="amentity : ${amentities}">
                                    <div
                                        class="listings__filter-amentities-row"
                                        style="display: flex; align-items: center"
                                    >
                                        <div class="flex-2">
                                            <input
                                                type="checkbox"
                                                width="20px"
                                                height="20px"
                                                th:value="${amentity.id}"
                                                class="amentitySelected"
                                            />
                                        </div>
                                        <div
                                            style="font-size: 14px; margin-left: 8px; height: 35px"
                                            class="flex-2"
                                        >
                                            [[${amentity.name}]]
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                            <div
                                th:replace="hosting/_listings_partial :: filterFooter('amentities')"
                            ></div>
                        </div>
                    </div>
                    <div class="listings__filter">
                        <button
                            class="listings__filter-option"
                            data-dropdown="listings__filter-status"
                        >
                            <span>Tình trạng nhà/phòng cho thuê</span>
                            <div class="listings__filter-img-container">
                                <img
                                    th:src="@{/svg/dropdown.svg}"
                                    alt=""
                                    width="12px"
                                    height="12px"
                                />
                            </div>
                        </button>
                        <div id="listings__filter-status">
                            <div class="listings__filter-wrapper">
                                <div style="padding: 24px; flex: 1">
                                    <div class="normal-flex listings__filter-status-row">
                                        <input
                                            type="checkbox"
                                            class="statusSelected"
                                            value="ACTIVE"
                                        />
                                        <div>Đã đăng</div>
                                    </div>
                                    <div class="normal-flex listings__filter-status-row">
                                        <input
                                            type="checkbox"
                                            class="statusSelected"
                                            value="UNLISTED"
                                        />
                                        <div>Đã hủy đăng</div>
                                    </div>
                                </div>
                                <div
                                    th:replace="hosting/_listings_partial :: filterFooter('status')"
                                ></div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="listings__filter">
                        <button
                            class="listings__filter-option"
                            data-dropdown="listings__filter-others"
                        >
                            <span>Các bộ lọc khác</span>
                            <div class="listings__filter-img-container">
                                <img
                                    th:src="@{/svg/dropdown.svg}"
                                    alt=""
                                    width="12px"
                                    height="12px"
                                />
                            </div>
                        </button>
                        <div id="listings__filter-others">
                            <div class="listings__filter-wrapper">
                                <div class="filter-box" style="overflow: hidden">
                                    <div class="normal-flex listings__filter-others-row">
                                        <input
                                            type="checkbox"
                                            id="listings__filter-others__first-option"
                                        />
                                        <div>Chế độ Đặt ngay đang tắt</div>
                                    </div>
                                    <div class="normal-flex listings__filter-others-row">
                                        <input
                                            type="checkbox"
                                            id="listings__filter-others__second-option"
                                        />
                                        <div>Yêu cầu cập nhật mục cho thuê</div>
                                    </div>
                                </div>
                                <div
                                    th:replace="hosting/_listings_partial :: filterFooter('others')"
                                ></div>
                            </div>
                        </div>
                    </div> -->
                    <div class="listings__filter">
                        <button
                            class="listings__filter-option deleteAllFilterOption"
                            data-dropdown="listings__filter-others"
                        >
                            <span>Xóa toàn bộ bộ lọc</span>
                        </button>
                    </div>
                </div>
                <div style="flex: 1">
                    <div th:replace="hosting/_listings_partial :: listingsTable(${rooms})"></div>
                </div>
                <div class="pagination">
                    <a data-page="prev">&laquo;</a>
                    <a data-page="1" class="active listings__link">1</a>
                    <a data-page="2" class="listings__link">2</a>
                    <a data-page="3" class="listings__link">3</a>
                    <a data-page="4" class="listings__link">4</a>
                    <a data-page="5" class="listings__link">5</a>
                    <a data-page="6" class="listings__link">6</a>
                    <a data-page="next">&raquo;</a>
                </div>
            </div>
        </main>

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <div th:replace="header :: javascript"></div>
        <script th:inline="javascript">
            /*<![CDATA[*/
            const baseURL = /*[[@{/}]]*/ 'default';
            /*]]>*/
        </script>
        <script type="text/javascript" th:src="@{/js/hosting/listings.js}"></script>
    </body>
</html>
