<!DOCTYPE html>
<html xml:lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Xác nhận chi tiết nhà/phòng cho thuê</title>

        <link
            rel="stylesheet"
            type="text/css"
            th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
        />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            rel="stylesheet"
            href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"
        />
        <link
            rel="stylesheet"
            href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
            rel="stylesheet"
        />
        <div th:replace="header :: css"></div>
        <link rel="stylesheet" th:href="@{'/css/hosting/verify_listing.css'}" />
    </head>

    <body>
        <div th:replace="header :: content"></div>

        <main>
            <div class="verify-listing__body">
                <div class="verify-listing__body-right">
                    <div class="verify-listing__body-right-first">
                        <div>
                            <div class="verify-listing__body-right-first__title">
                                Những chi tiết quan trọng cần chăm chút
                            </div>
                            <div>
                                <img th:src="@{''}" alt="" />
                            </div>
                        </div>
                        <div class="verify-listing__body-right-first__subtitle">
                            Trước khi bạn đăng nhà/phòng cho thuê, chúng tôi cần xác nhận một số chi
                            tiết về bạn và chỗ của bạn. Chúng tôi sẽ hướng dẫn bạn thực hiện việc
                            này.
                        </div>
                        <div class="verify-listing__body-right-first__is-mandatory-or-complete">
                            <div
                                style="
                                    font-size: 12px;
                                    line-height: 16px !important;
                                    font-weight: 500 !important;
                                "
                            >
                                Tạo mục nhà/phòng cho thuê
                            </div>
                            <div class="isCompleted">
                                <img
                                    th:src="@{'/svg/complete.svg'}"
                                    alt=""
                                    width="16px"
                                    height="16px"
                                />
                                <span style="font-weight: 500; font-size: 10">Hoàn tất</span>
                            </div>
                        </div>
                    </div>
                    <div class="verify-listing__body-right-last">
                        <div
                            class="verify-listing__body-right-first__title"
                            style="
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                            "
                        >
                            <div>Xác nhận số điện thoại của bạn</div>
                            <div
                                onclick="displayOTPVerify();"
                                style="
                                    width: 20px;
                                    height: 20px;
                                    cursor: pointer;
                                    display: flex;
                                    align-items: center;
                                "
                            >
                                <img
                                    th:if="${phoneNumberVerified == false}"
                                    th:src="@{/svg/next.svg}"
                                    alt=""
                                    width="16px"
                                    height="16px"
                                />
                            </div>
                        </div>
                        <div class="verify-listing__body-right-first__subtitle">
                            Chúng tôi sẽ gọi điện hoặc nhắn tin cho bạn để xác nhận số điện thoại.
                            Phí nhắn tin tiêu chuẩn có thể áp dụng.
                        </div>
                        <div class="verify-listing__body-right-first__is-mandatory-or-complete">
                            <div
                                style="font-size: 12px; line-height: 16px; font-weight: 500"
                                th:if="${phoneNumberVerified == false}"
                            >
                                Bắt buộc
                            </div>
                            <div class="isCompleted" th:if="${phoneNumberVerified == true}">
                                <img
                                    th:src="@{'/svg/complete.svg'}"
                                    alt=""
                                    width="16px"
                                    height="16px"
                                />
                                <span style="font-weight: 500; font-size: 10">Hoàn tất</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="flex: 1; max-width: 5%"></div>
                <div class="verify-listing__body-left">
                    <div class="verify-listing__body-partional-room-preview">
                        <div style="height: 212px">
                            <img alt="" src="" id="roomThumbnail" />
                        </div>
                        <div style="padding: 24px">
                            <div style="font-size: 14px; font-weight: 500">[[${room.name}]]</div>
                            <div style="font-size: 12px; text-overflow: ellipsis; margin-top: 10px">
                                [[${room.city.name}]], [[${room.state.name}]],
                                [[${room.country.name}]]
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="verify-listing__footer">
                <div class="verify-listing__footer-button-container">
                    <button type="button" class="verify-listing__button-rent" disabled>
                        Đăng nhà/phòng cho thuê
                    </button>
                </div>
            </div>
        </main>

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
        <div th:replace="header :: javascript"></div>
        <script th:inline="javascript">
            /*<![CDATA[*/
            const baseURL = /*[[@{/}]]*/ 'default';
            const userName = /*[[${userName}]]*/ 'userName';
            const thumbnail = /*[[${thumbnail}]]*/ 'thumbnail';
            const roomId = /*[[${roomId}]]*/ 'roomId';
            const allVerified = /*[[${phoneNumberVerified}]]*/ 'phoneNumberVerified';
            const userId = /*[[${room.host.id}]]*/ 'userId';
            /*]]>*/
        </script>
        <script>
            jQuery(document).ready(function () {
                $('#roomThumbnail').attr(
                    'src',
                    `${baseURL}room_images/${userName}/${roomId}/${thumbnail}`
                );

                if (allVerified) {
                    $('.verify-listing__button-rent').first().attr('disabled', false);
                }

                $('.verify-listing__button-rent').click(async function () {
                    const { data } = await axios.get(
                        `${baseURL}room/${roomId}/complete-rental-process`
                    );

                    if (data === 'Complete!') {
                        alertify.success('Đăng phòng/nhà cho thuê thành công!');
                        setTimeout(() => {
                            window.location.href = `${baseURL}hosting/listings/1`;
                        }, 1000);
                    }
                });
            });

            function displayOTPVerify() {
                window.location.href = `${baseURL}add-phone-number/${roomId}`;
            }
        </script>
    </body>
</html>
