#room-preview__room-type {
    width: calc(100% - 40px);
}

.room-preview__container {
    border: 1px solid rgb(235, 235, 235);
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    width: 336px;
    max-width: 90%;
    height: 100%;
    min-height: 400px;
    max-height: 680px;
    padding: 12px;
    border-radius: 32px;
    background-color: rgb(255, 255, 255);
}

.room-preview__wrapper::-webkit-scrollbar {
    display: none;
}

.room-preview__wrapper {
    border: 1px solid rgb(235, 235, 235);
    height: 100%;
    width: 100%;
    border-radius: 32px;
    overflow-x: hidden;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}

.room-preview__line {
    margin: 0 24px;
    padding: 24px 0;
    border-bottom: 1px solid #ebebeb;
}

.room-preview__line:nth-last-child(2) {
    border-bottom: none;
}

.room-preview__line:last-child {
    border-bottom: none;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#room-preview__room-type {
    font-size: 18px;
    line-height: 24px;
    overflow-wrap: break-word;
    max-width: 80%;
    font-weight: 600;
    margin-bottom: 0px;
}

#room-preview__room-title {
    border-bottom: 1px solid #ebebeb;
    font-size: 26px;
    line-height: 30px;
    font-weight: 800;
    word-wrap: break-word;
}

.room-preview__amentity-container:first {
    position: relative;
}

.room-preview__amentity-container {
    margin-top: 16px;
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ebebeb;
    padding-left: 0px;
    list-style-type: none;
}

.room-preview__amentity-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    margin-bottom: 24px;
}

#room-preview__room-price {
    font-weight: 600;
}
