<div th:remove="tag" th:fragment="css">
    <link rel="stylesheet" th:href="@{/css/header.css}" type="text/css" />
</div>

<div th:remove="tag" th:fragment="content">
    <header class="header">
        <div class="header__container">
            <div class="header__right">
                <a
                    th:href="@{/}
               "
                >
                    <img
                        th:src="@{/images/airtntlogo.png}"
                        alt=""
                        width="120px"
                        height="42px"
                        class="image"
                /></a>
            </div>
            <div class="header__middle" th:if="${includeMiddle == true}">
                <ul
                    style="
                        display: flex;
                        margin: 0;
                        padding: 0;
                        align-items: center;
                        list-style: none;
                    "
                >
                    <li class="nav__container">
                        <a th:href="@{/progress/reviews}" class="nav__link">Đánh giá</a>
                    </li>
                    <li class="nav__container">
                        <a th:href="@{/progress/earnings}" class="nav__link">Thu nhập</a>
                    </li>
                    <li class="nav__container">
                        <a th:href="@{/user/bookings}" class="nav__link">Phòng đã đặt</a>
                    </li>
                    <li class="nav__container">
                        <a th:href="@{/hosting/listings/1}" class="nav__link"
                            >Quản lí nhà/phòng cho thuê</a
                        >
                    </li>
                    <li class="nav__container">
                        <a th:href="@{/booking/listings/1}" class="nav__link">Quản lí đặt phòng</a>
                    </li>
                </ul>
            </div>
            <div class="header__left">
                <div
                    style="margin-right: 20px"
                    th:if="${excludeBecomeHostAndNavigationHeader != true}"
                    sec:authorize="isAuthenticated()"
                >
                    <a th:href="@{/become-a-host/}" class="header__become-host">
                        Trở thành chủ nhà
                    </a>
                </div>

                <div class="navMenuHeader">
                    <div class="account__button">
                        <div>
                            <svg
                                viewBox="0 0 32 32"
                                xmlns="http://www.w3.org/2000/svg"
                                aria-hidden="true"
                                role="presentation"
                                focusable="false"
                                style="
                                    display: block;
                                    fill: none;
                                    height: 16px;
                                    width: 16px;
                                    stroke: currentcolor;
                                    stroke-width: 3;
                                    overflow: visible;
                                "
                            >
                                <g fill="none" fill-rule="nonzero">
                                    <path d="m2 16h28"></path>
                                    <path d="m2 24h28"></path>
                                    <path d="m2 8h28"></path>
                                </g>
                            </svg>
                        </div>
                        <div>
                            <div style="height: 30px; overflow: hidden; margin-left: 12px">
                                <img
                                    alt="User's avatar'"
                                    class="header__user-avatar"
                                    id="userAvatar"
                                    sec:authorize="isAuthenticated()"
                                    th:src="@{${#request.userPrincipal.principal.avatarPath}}"
                                />
                                <img
                                    alt="User's avatar'"
                                    class="header__user-avatar"
                                    id="userAvatar"
                                    sec:authorize="isAnonymous()"
                                    th:src="@{/images/default_user_avatar.png}"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="headerBridge"></div>
                    <div class="loginAndLogoutHidden">
                        <ul sec:authorize="isAnonymous()">
                            <li><a th:href="@{/user/register}">Đăng ký</a></li>
                            <li><a th:href="@{/login}">Đăng nhập</a></li>
                        </ul>
                        <div>
                            <ul sec:authorize="isAuthenticated()">
                                <li>
                                    <a th:href="@{/user/bookings}">Phòng đã đặt</a>
                                </li>
                                <li>
                                    <a th:href="@{/wishlists}">Danh sách yêu thích</a>
                                </li>
                                <li>
                                    <a th:href="@{/hosting/listings/1}"
                                        >Quản lí nhà/phòng cho thuê</a
                                    >
                                </li>
                                <li>
                                    <a th:href="@{/user/personal-info}">Tài khoản</a>
                                </li>
                                <li>
                                    <a th:href="@{/logout}">Đăng xuất</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>

<div th:remove="tag" th:fragment="javascript">
    <script>
        const headerNavButton = document.getElementsByClassName('account__button')[0];
        const navMenu = document.getElementsByClassName('loginAndLogoutHidden')[0];
        let isClicked = false;

        headerNavButton.addEventListener('click', function () {
            if (!isClicked) {
                navMenu.classList.add('active');
                isClicked = true;
            } else {
                navMenu.classList.remove('active');
                isClicked = false;
            }
        });
    </script>
</div>
