<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" xml:lang="en">
  <head> </head>
  <body>
    <div th:fragment="menu">
      <form
        th:action="@{/logout}"
        method="post"
        th:hidden="true"
        name="logoutForm"
      >
        <input type="submit" />
      </form>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/}">
          <img th:src="@{/images/airtntlogo.png}" width="100" height="40" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" th:href="@{/admin/users}"
                >Users </span></a
              >
            </li>

            <li class="nav-item active">
              <a class="nav-link" th:href="@{/admin/rooms}"
                >Rooms </span></a
              >
            </li>

            <li class="nav-item active">
              <a class="nav-link" th:href="@{/admin/bookings}"
                >Bookings </span></a
              >
            </li>

            <li class="nav-item active">
              <a class="nav-link" th:href="@{/admin/stats}"
                >Stats </span></a
              >
            </li>

            <li class="nav-item active">
              <a class="nav-link" th:href="@{/admin/settings}"
                >Settings </span></a
              >
            </li>
            <li class="nav-item dropdown" style="display: flex">
              <a
                class="nav-link cursor-pointer"
                th:href="@{/admin/account}"
                sec:authentication="principal.fullname"
              >
              </a>
              <div
                class="nav-link dropdown-toggle cursor-pointer"
                data-toggle="dropdown"
              ></div>
              <div class="dropdown-menu">
                <a class="dropdown-item" id="logoutLink" href="">Logout</a>
              </div>
            </li>

          </ul>
        </div>
      </nav>
    </div>
  </body>
</html>
