<div th:fragment="incDecSegment(id, title, data)" th:remove="tag">
    <div class="flex-space manage-ys__section-content">
        <div class="manage-ys__section-content-title">[[${title}]]</div>
        <div>
            <button
                class="manage-ys__minus-btn incAndDecBtn"
                th:data-edit="${'manage-ys__' + id}"
                data-function="dec"
            >
                <span>
                    <img th:src="@{/svg/minus.svg}" alt="" width="12px" height="12px" />
                </span>
            </button>
            <span th:id="${'manage-ys__' + id}"> [[${data}]] </span>
            <button
                class="manage-ys__plus-btn incAndDecBtn"
                th:data-edit="${'manage-ys__' + id}"
                data-function="inc"
            >
                <span>
                    <img th:src="@{/svg/plus.svg}" alt="" width="12px" height="12px" />
                </span>
            </button>
        </div>
    </div>
</div>

<div th:fragment="boxFooter(dataEdit, idInput)">
    <div
        class="flex-space"
        style="padding: 16px 24px; border-top: 1px solid rgb(221, 221, 221); height: 67px"
    >
        <div>
            <button
                class="manage-ys__transparent-btn"
                th:data-section-key="${dataEdit}"
                onclick="hideEditBox($(this).data('section-key'))"
            >
                Hủy
            </button>
        </div>
        <div>
            <button
                class="manage-ys__save-edit-btn"
                th:data-edit="${dataEdit}"
                th:data-input="${idInput}"
                onclick="updateField($(this).data('edit'), $(this).data('input'));"
            >
                Lưu
            </button>
        </div>
    </div>
</div>

<div th:fragment="displayEditUI(sectionKey)" th:remove="tag">
    <button
        class="manage-ys__transparent-btn"
        th:data-section-key="${sectionKey}"
        onclick="displayEditBox($(this).data('section-key'))"
    >
        Chỉnh sửa
    </button>
</div>

<div th:fragment="hideEditBox(sectionKey)" th:remove="tag">
    <div
        style="cursor: pointer"
        th:data-section-key="${sectionKey}"
        onclick="hideEditBox($(this).data('section-key'))"
    >
        <img th:src="@{/svg/close2.svg}" alt="close image" width="14px" height="14px" />
    </div>
</div>

<div th:fragment="roomStatus(id, imageName, title, subTitle)" th:remove="tag">
    <div
        class="normal-flex"
        style="height: calc(90% / 3); align-items: flex-start; margin-bottom: 20px"
    >
        <div style="margin-right: 16px">
            <input type="radio" th:id="${id}" class="radioStatus" />
        </div>
        <div>
            <div class="normal-flex" style="margin-right: 10px">
                <img
                    th:src="@{'/svg/' + ${imageName} + '.svg'}"
                    alt=""
                    style="margin-right: 10px; width: 14px; height: 14px"
                />
                <div>[[${title}]]</div>
            </div>
            <div class="manage-ys__status-control-subtext">[[${subTitle}]]</div>
        </div>
    </div>
</div>

<div th:fragment="roomAmentities(title, amentities, dataType)" th:remove="tag">
    <div>
        <div class="manage-ys__header-edit-main-title" style="margin-top: 40px">[[${title}]]</div>
        <div>
            <th:block th:each="amentity : ${amentities}">
                <div
                    class="flex-space"
                    style="
                        height: 80px;
                        padding: 24px 0;
                        border-bottom: 1px solid rgb(221, 221, 221);
                    "
                >
                    <div>[[${amentity.name}]]</div>
                    <div class="normal-flex">
                        <button
                            class="manage-ys__uncheck-btn"
                            th:data-edit="${amentity.id}"
                            style="margin-right: 10px"
                        >
                            <span>
                                <svg
                                    viewBox="0 0 32 32"
                                    xmlns="http://www.w3.org/2000/svg"
                                    aria-hidden="true"
                                    role="presentation"
                                    focusable="false"
                                    style="
                                        display: block;
                                        fill: none;
                                        height: 16px;
                                        width: 16px;
                                        stroke: rgb(113, 113, 113);
                                        stroke-width: 3;
                                        overflow: visible;
                                    "
                                >
                                    <path d="m6 6 20 20"></path>
                                    <path d="m26 6-20 20"></path>
                                </svg>
                            </span>
                        </button>
                        <button
                            class="manage-ys__check-btn"
                            th:data-edit="${amentity.id}"
                            th:data-type="${dataType}"
                        >
                            <span>
                                <svg
                                    viewBox="0 0 32 32"
                                    xmlns="http://www.w3.org/2000/svg"
                                    aria-hidden="true"
                                    role="presentation"
                                    focusable="false"
                                    style="
                                        display: block;
                                        fill: none;
                                        height: 16px;
                                        width: 16px;
                                        stroke: currentcolor;
                                        stroke-width: 3;
                                        overflow: visible;
                                    "
                                >
                                    <path fill="none" d="m4 16.5 8 8 16-16"></path>
                                </svg>
                            </span>
                        </button>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</div>
