<!DOCTYPE html>
<html xml:lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Chỉnh sửa ảnh nhà/phòng cho thuê</title>

        <link
            rel="stylesheet"
            type="text/css"
            th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
        />
        <link
            rel="stylesheet"
            href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"
        />
        <link
            rel="stylesheet"
            href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
            rel="stylesheet"
        />
        <div th:replace="header :: css"></div>
        <link rel="stylesheet" th:href="@{/css/manage_space/manage_photos.css}" />
    </head>

    <body>
        <div style="position: relative; height: 100vh">
            <div th:replace="header :: content"></div>
            <main>
                <div id="manage-photos__container">
                    <div class="manage-ys__left">
                        <div id="roomName">[[${room.name}]]</div>
                        <div class="manage-ys__left-scrolling-menu">
                            <div class="manage-ys__left-room-details normal-flex">
                                <span
                                    style="
                                        display: inline-block;
                                        margin-right: 5px;
                                        cursor: pointer;
                                    "
                                    onclick="backToEditPage();"
                                >
                                    <img
                                        th:src="@{/svg/close3.svg}"
                                        alt=""
                                        width="15px"
                                        height="15px"
                                    /> </span
                                ><span style="display: inline-block">Ảnh</span>
                            </div>
                            <div style="height: fit-content" class="menuContainer">
                                <ul style="height: 100%">
                                    <li class="active" data-index="1">
                                        <div class="li-before"></div>
                                        <a
                                            class="manage-ys__changeView"
                                            data-scroll="#roomThumbnail"
                                            >Ảnh bìa</a
                                        >
                                    </li>
                                    <li data-index="2">
                                        <div class="li-before"></div>
                                        <a
                                            class="manage-ys__changeView"
                                            data-scroll="#roomAllImages"
                                            >Tất cả ảnh</a
                                        >
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="manage-ys__right">
                        <div style="max-width: 869px">
                            <div class="flex-space" style="margin-bottom: 48px">
                                <div class="normal-flex">
                                    <div>
                                        <button class="manage-ys__transparent-btn">
                                            <span
                                                ><img
                                                    th:src="@{/svg/reddot.svg}"
                                                    alt="reddot.svg"
                                                    width="10px"
                                                    height="10px"
                                                    th:if="${room.status == false}"
                                                />
                                                <img
                                                    th:src="@{/svg/greendot.svg}"
                                                    alt="greendot.svg"
                                                    width="10px"
                                                    height="10px"
                                                    th:if="${room.status == true}"
                                                />
                                            </span>
                                            <span
                                                >[[${room.status == false ? 'Đã hủy đăng' : 'Đang
                                                đăng'}]]</span
                                            >
                                        </button>
                                    </div>
                                    <div>
                                        <button class="manage-ys__transparent-btn">
                                            <span>
                                                <img
                                                    th:src="@{/svg/thunder.svg}"
                                                    alt="thunder.svg"
                                                    width="10px"
                                                    height="10px"
                                                />
                                            </span>
                                            <span>Chế độ đặt ngay đang bật</span>
                                        </button>
                                    </div>
                                </div>
                                <div>
                                    <button
                                        class="manage-photos__normal-btn"
                                        onclick="previewRoom();"
                                    >
                                        Xem trước nhà phòng cho thuê
                                    </button>
                                </div>
                            </div>

                            <div
                                class="normal-flex"
                                style="border-bottom: 1px solid rgb(211, 211, 211); height: 328px"
                            >
                                <div class="flex-50">
                                    <div class="manage-photos__title" id="roomThumbnail">
                                        Ảnh bìa
                                    </div>
                                    <div class="manage-photos__subtitle" style="margin-top: 15px">
                                        Ảnh bìa là ấn tượng đầu tiên của khách về nhà/phòng cho thuê
                                        của bạn.
                                    </div>
                                    <div style="margin-top: 30px">
                                        <button
                                            class="manage-photos__normal-btn"
                                            onclick="displayEditThumbnailBox();"
                                        >
                                            Thay đổi ảnh
                                        </button>
                                    </div>
                                </div>
                                <div class="flex-50" id="thumbnailPhotos"></div>
                            </div>

                            <div style="margin-top: 50px">
                                <div class="flex-space">
                                    <div class="manage-photos__title" id="roomAllImages">
                                        Tất cả ảnh
                                    </div>
                                    <div>
                                        <button
                                            class="manage-photos__normal-btn"
                                            onclick="uploadImagesToFolder();"
                                        >
                                            <img
                                                th:src="@{'/amentity_images/upload.svg'}"
                                                alt=""
                                                width="22px"
                                                height="22px"
                                            />
                                            <span>Tải ảnh lên</span>
                                        </button>
                                    </div>
                                </div>
                                <div id="photosContainer__body">
                                    <input
                                        type="file"
                                        name="room_photos"
                                        id="uploadPhotos"
                                        accept="images/*"
                                        hidden
                                        multiple
                                    />
                                    <div id="subImages"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <div id="chooseRoomThumbnail">
                <div style="display: flex; justify-content: center">
                    <div class="innerWrapper">
                        <div id="boxHeader" class="normal-flex">
                            <div onclick="hideEditThumbnailBox();">
                                <img
                                    th:src="@{/svg/close2.svg}"
                                    alt=""
                                    width="16px"
                                    height="16px"
                                    style="cursor: pointer"
                                />
                            </div>
                            <div
                                style="flex: 1; display: flex; justify-content: center"
                                class="manage-photos__title"
                            >
                                Chọn ảnh bìa
                            </div>
                        </div>
                        <div id="boxBody">
                            <div
                                style="
                                    display: grid;
                                    grid-template-columns: repeat(3, 1fr);
                                    gap: 10px;
                                "
                            >
                                <th:block th:each="image : ${room.images}">
                                    <div
                                        style="
                                            width: calc(712px / 3);
                                            height: calc(296px / 2);
                                            position: relative;
                                        "
                                    >
                                        <img
                                            th:src="${image.getImagePath(room.host.email, room.id)}"
                                            style="width: 100%; height: 100%; object-fit: cover"
                                        />
                                        <div style="position: absolute; top: 8px; left: 8px">
                                            <input
                                                type="radio"
                                                class="radioThumbnail"
                                                th:value="${image.image}"
                                            />
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                        <div id="boxFooter" class="flex-space">
                            <div>
                                <!-- <button class="manage-ys__transparent-btn">Tải ảnh lên</button> -->
                                <button
                                    class="manage-photos__cancel-btn"
                                    onclick="hideEditThumbnailBox();"
                                >
                                    Hủy
                                </button>
                            </div>
                            <div>
                                <button
                                    class="manage-photos__save-edit-btn"
                                    onclick="saveNewThumbnail();"
                                >
                                    Lưu
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
        <script src="http://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script type="text/javascript" th:src="@{/js/jquery.keyframes.js}"></script>
        <div th:replace="header :: javascript"></div>
        <script th:inline="javascript">
            /*<![CDATA[*/
            const baseURL = /*[[@{/}]]*/ 'default';
            const userName = /*[[${userName}]]*/ 'no-name';
            const roomImages = /*[[${roomImages}]]*/ []; // image name
            const roomId = /*[[${room.id}]]*/ 0;

            let thumbnail = /*[[${thumbnail}]]*/ '';
            /*]]>*/
        </script>
        <script>
            let photos = [];
            let fileReaderResult = new Map();
            let isUploaded = false;
            $(document).ready(function () {
                const uploadPhotos = $('#uploadPhotos');

                $('#triggerUploadPhotosInput').click(function (e) {
                    e.preventDefault();
                    uploadPhotos.click();
                });

                uploadPhotos.on('change', function () {
                    readURL(this.files, uploadPhotos);
                });

                test(uploadPhotos);

                $('.manage-ys__changeView').each(function () {
                    $(this).click(function () {
                        animate($(this));
                        const offsetTop = getOffsetTop($(this).data('scroll'));
                        window.scrollTo({
                            top: offsetTop,
                            behavior: 'smooth',
                        });
                    });
                });

                const roomThumbnailTopValue = getOffsetTop('#roomThumbnail');
                const roomAllImagesTopValue = getOffsetTop('#roomAllImages');

                let anchorRoomThumbnail = $('a[data-scroll="#roomThumbnail"]');
                let anchorRoomAllImages = $('a[data-scroll="#roomAllImages"]');

                $(document).on('scroll', function (e) {
                    const topValue = $(document).scrollTop();

                    if (topValue <= roomThumbnailTopValue) {
                        if ($('.manage-ys__left-scrolling-menu').first().hasClass('active'))
                            $('.manage-ys__left-scrolling-menu').first().removeClass('active');
                    } else if (
                        topValue > roomThumbnailTopValue &&
                        topValue < roomAllImagesTopValue
                    ) {
                        animate(anchorRoomThumbnail);
                    } else animate(anchorRoomAllImages);
                });
                const nameThumbnail = thumbnail.split('/')[thumbnail.split('/').length - 1];
                $('.radioThumbnail').each(function () {
                    if ($(this).val() === nameThumbnail) {
                        $(this).prop('checked', true);
                    }

                    $(this).change(function () {
                        const self = $(this);
                        $('.radioThumbnail').each(function () {
                            if (!$(this).is(self)) $(this).prop('checked', false);
                        });
                    });
                });
            });

            async function saveNewThumbnail() {
                const postURL = `${baseURL}manage-your-space/update/${roomId}/${'thumbnail'}`;
                const thumbnailName = $('input[type="radio"]:checked').val();

                const { data } = await axios.post(postURL, {
                    thumbnail: thumbnailName,
                });

                if (data === 'OK') {
                    window.location.href = `${baseURL}manage-your-space/${roomId}/details/photos`;
                }
            }

            function hideEditThumbnailBox() {
                $('.radioThumbnail').each(function () {
                    if ($(this).val() === thumbnail) {
                        $(this).prop('checked', true);
                    } else $(this).prop('checked', false);
                });

                $('#chooseRoomThumbnail').css('display', 'none');
            }

            function displayEditThumbnailBox() {
                $('#chooseRoomThumbnail').css('display', 'block');
            }
        </script>
        <script type="text/javascript" th:src="@{/js/manage_your_space/manage_photos.js}"></script>
    </body>
</html>
