<!DOCTYPE html>
<html xml:lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Chỉnh sửa nhà/phòng cho thuê</title>

        <link
            rel="stylesheet"
            type="text/css"
            th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
        />
        <link
            rel="stylesheet"
            href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"
        />
        <link
            rel="stylesheet"
            href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"
        />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
            rel="stylesheet"
        />
        <div th:replace="header :: css"></div>
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
        <link rel="stylesheet" th:href="@{/css/manage_space/manage_your_space.css}" />
        <script src="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js"></script>
        <link href="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css" rel="stylesheet" />
    </head>

    <body>
        <div th:replace="header :: content"></div>

        <main>
            <div id="manage-ys__container">
                <div class="manage-ys__left">
                    <div id="roomName">[[${room.name}]]</div>
                    <div class="manage-ys__left-scrolling-menu">
                        <div class="manage-ys__left-room-details">Chi tiết nhà/phòng cho thuê</div>
                        <div style="height: 300px" class="menuContainer">
                            <ul style="height: 100%">
                                <li class="active" data-index="1">
                                    <div class="li-before"></div>
                                    <a class="manage-ys__changeView" data-scroll="#roomImages"
                                        >Ảnh</a
                                    >
                                </li>
                                <li data-index="2">
                                    <div class="li-before"></div>
                                    <a class="manage-ys__changeView" data-scroll="#basicRoomInfos"
                                        >Thông tin cơ bản về nhà/phòng cho thuê</a
                                    >
                                </li>
                                <li data-index="3">
                                    <div class="li-before"></div>
                                    <a class="manage-ys__changeView" data-scroll="#roomAmentities"
                                        >Tiện nghi</a
                                    >
                                </li>
                                <li data-index="4">
                                    <div class="li-before"></div>
                                    <a class="manage-ys__changeView" data-scroll="#roomLocation"
                                        >Vị trí</a
                                    >
                                </li>
                                <li data-index="5">
                                    <div class="li-before"></div>
                                    <a class="manage-ys__changeView" data-scroll="#roomInfo"
                                        >Chỗ ở và phòng</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="manage-ys__right">
                    <div class="flex-space" style="margin-bottom: 48px">
                        <div class="normal-flex">
                            <div>
                                <button class="manage-ys__transparent-btn">
                                    <span
                                        ><img
                                            th:src="@{/svg/reddot.svg}"
                                            alt="reddot.svg"
                                            width="10px"
                                            height="10px"
                                            th:if="${room.status == false}"
                                        />
                                        <img
                                            th:src="@{/svg/greendot.svg}"
                                            alt="greendot.svg"
                                            width="10px"
                                            height="10px"
                                            th:if="${room.status == true}"
                                        />
                                    </span>
                                    <span
                                        >[[${room.status == false ? 'Đã hủy đăng' : 'Đang
                                        đăng'}]]</span
                                    >
                                </button>
                            </div>
                            <div>
                                <button class="manage-ys__transparent-btn">
                                    <span>
                                        <img
                                            th:src="@{/svg/thunder.svg}"
                                            alt="thunder.svg"
                                            width="10px"
                                            height="10px"
                                        />
                                    </span>
                                    <span>Chế độ đặt ngay đang bật</span>
                                </button>
                            </div>
                        </div>
                        <div>
                            <button class="manage-ys__preview-room-btn" onclick="previewRoom();">
                                Xem trước nhà phòng cho thuê
                            </button>
                        </div>
                    </div>
                    <div class="manage-ys__right-content">
                        <article
                            class="manage-ys__section-container"
                            style="height: 239px"
                            id="roomImages"
                        >
                            <div
                                class="normal-flex"
                                style="justify-content: space-between; margin-bottom: 20px"
                            >
                                <div class="manage-ys__section-title">Ảnh</div>
                                <div>
                                    <button
                                        class="manage-ys__transparent-btn"
                                        onclick="redirectToPhotoPage();"
                                    >
                                        <span>Chỉnh sửa</span>
                                        <span>
                                            <img
                                                th:src="@{/svg/next.svg}"
                                                alt=""
                                                width="12px"
                                                height="12px"
                                            />
                                        </span>
                                    </button>
                                </div>
                            </div>
                            <div class="normal-flex" style="overflow: hidden; position: relative">
                                <th:block th:each="image : ${room.images}">
                                    <div style="margin-right: 10px">
                                        <img
                                            th:src="@{${image.getImagePath(userName, room.id)}}"
                                            alt=""
                                            width="210px"
                                            height="140px"
                                            style="
                                                object-fit: cover;
                                                border-radius: 8px;
                                                vertical-align: bottom;
                                            "
                                        />
                                    </div>
                                </th:block>
                                <div
                                    style="
                                        position: absolute;
                                        top: 50%;
                                        right: 0;
                                        transform: translateY(-50%);
                                    "
                                >
                                    <button
                                        class="manage-ys__transparent-btn"
                                        style="
                                            height: fit-content;
                                            padding: 5px;
                                            width: fit-content;
                                            background-color: #eee;

                                            border-radius: 8px;
                                        "
                                    >
                                        <span style="font-size: 14px"
                                            >[[${#lists.size(room.images)}]] ảnh</span
                                        >
                                    </button>
                                </div>
                            </div>
                        </article>
                        <article
                            class="manage-ys__section-container"
                            id="basicRoomInfos"
                            data-aos="fade-down"
                            data-aos-duration="2000"
                        >
                            <div class="manage-ys__section-title">
                                Thông tin cơ bản về nhà/phòng cho thuê
                            </div>
                            <div class="section-view-and-edit">
                                <div
                                    class="flex-space manage-ys__section-content"
                                    id="manage-ys__name-control-view"
                                >
                                    <div>
                                        <div class="manage-ys__section-content-title">
                                            Tiêu đề nhà phòng cho thuê
                                        </div>
                                        <div class="manage-ys__section-content-info">
                                            [[${room.name}]]
                                        </div>
                                    </div>
                                    <div>
                                        <div
                                            th:replace="manage_space/_manage_your_space_partial :: displayEditUI('name')"
                                        ></div>
                                    </div>
                                </div>
                                <div id="manage-ys__name-control-container">
                                    <div class="manage-ys__section-edit">
                                        <div>
                                            <div class="flex-space" style="align-items: flex-start">
                                                <div style="flex: 1; max-width: 600px">
                                                    <div class="manage-ys__header-edit-main-title">
                                                        Tiêu đề nhà/phòng cho thuê
                                                    </div>
                                                    <div
                                                        class="manage-ys__header-edit-main-subtitle"
                                                    >
                                                        Tiêu đề nhà/phòng cho thuê của bạn cần nêu
                                                        bật được những điểm đặc biệt của chỗ ở.
                                                    </div>
                                                </div>
                                                <div
                                                    th:replace="manage_space/_manage_your_space_partial :: hideEditBox('name')"
                                                ></div>
                                            </div>
                                            <div class="">
                                                <div style="margin-bottom: 10px">
                                                    <input
                                                        type="text"
                                                        class="_dsnwjc"
                                                        id="roomNameInput"
                                                        th:value="${room.name}"
                                                        onkeydown="onKeyDown(event, '#roomNameCounter');"
                                                    />
                                                </div>
                                                <div class="counter">
                                                    <span id="roomNameCounter">0</span>/50
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        th:replace="manage_space/_manage_your_space_partial :: boxFooter('name', '#roomNameInput')"
                                    ></div>
                                </div>
                            </div>
                            <div class="section-view-and-edit">
                                <div
                                    class="flex-space manage-ys__section-content"
                                    id="manage-ys__description-control-view"
                                >
                                    <div>
                                        <div class="manage-ys__section-content-title">
                                            Mô tả nhà/phòng cho thuê
                                        </div>
                                        <div class="manage-ys__section-content-info">
                                            Thư giãn tại địa điểm [[${firstDescription}]] và
                                            [[${secondDescription}]].
                                        </div>
                                    </div>
                                    <div>
                                        <div
                                            th:replace="manage_space/_manage_your_space_partial :: displayEditUI('description')"
                                        ></div>
                                    </div>
                                </div>
                                <div id="manage-ys__description-control-container">
                                    <div style="padding: 24px 24px 0">
                                        <div class="flex-space">
                                            <div class="manage-ys__header-edit-main-title">
                                                <div>Mô tả nhà/phòng cho thuê</div>
                                            </div>
                                            <div
                                                th:replace="manage_space/_manage_your_space_partial :: hideEditBox('description')"
                                            ></div>
                                        </div>
                                        <div class="">
                                            <div style="margin-bottom: 10px">
                                                <textarea
                                                    type="text"
                                                    class="_dsnwjc"
                                                    style="width: 693px"
                                                    draggable="true"
                                                    id="descriptionInput"
                                                    th:text="${'Thư giãn tại địa điểm ' + firstDescription + ' và ' + secondDescription + '.'}"
                                                    onkeydown="onKeyDown(event, '#descriptionCounter');"
                                                ></textarea>
                                            </div>
                                            <div class="counter">
                                                <span id="descriptionCounter">0</span>/500
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        th:replace="manage_space/_manage_your_space_partial :: boxFooter('description', '#descriptionInput')"
                                    ></div>
                                </div>
                            </div>

                            <div class="section-view-and-edit">
                                <div
                                    th:replace="manage_space/_manage_your_space_partial :: incDecSegment('guestNumber', 'Số lượng khách', ${room.accomodatesCount})"
                                ></div>
                            </div>

                            <div>
                                <div
                                    class="flex-space manage-ys__section-content"
                                    id="manage-ys__status-control-view"
                                >
                                    <div>
                                        <div class="manage-ys__section-content-title">
                                            Trạng thái nhà/phòng cho thuê
                                        </div>
                                        <div class="manage-ys__section-content-info">
                                            <span style="display: inline-block; margin-right: 6px">
                                                <img
                                                    th:src="@{/svg/reddot.svg}"
                                                    alt="reddot.svg"
                                                    width="10px"
                                                    height="10px"
                                                    th:if="${room.status == false}"
                                                />
                                                <img
                                                    th:src="@{/svg/greendot.svg}"
                                                    alt="greendot.svg"
                                                    width="10px"
                                                    height="10px"
                                                    th:if="${room.status == true}"
                                                />
                                            </span>
                                            [[${room.status == false ? 'Đã hủy đăng' : 'Đang
                                            đăng'}]] - Khách không thể đặt phòng hoặc tìm thấy
                                            nhà/phòng cho thuê của bạn trong kết quả tìm kiếm.
                                        </div>
                                    </div>
                                    <div>
                                        <div
                                            th:replace="manage_space/_manage_your_space_partial :: displayEditUI('status')"
                                        ></div>
                                    </div>
                                </div>
                                <div id="manage-ys__status-control-container">
                                    <div class="manage-ys__status-control-edit-content">
                                        <div>
                                            <div class="manage-ys__header-edit-main-title">
                                                Trạng thái nhà/phòng cho thuê
                                            </div>
                                            <div style="cursor: pointer">
                                                <img
                                                    th:src="@{/svg/close.svg}"
                                                    alt=""
                                                    width="14px"
                                                    height="14px"
                                                />
                                            </div>
                                        </div>
                                        <div style="flex: 1; padding-bottom: 20px">
                                            <div
                                                th:replace="manage_space/_manage_your_space_partial :: roomStatus('roomStatus1', 'greendot', 'Đã đăng', 'Khách có thể tìm thấy nhà/phòng cho thuê của bạn trong kết quả tìm kiếm và yêu cầu
                thông tin về tình trạng còn phòng hoặc đặt phòng vào những ngày còn trống.')"
                                            ></div>
                                            <div
                                                th:replace="manage_space/_manage_your_space_partial :: roomStatus('roomStatus0', 'reddot', 'Đã hủy đăng', 'Khách không thể đặt phòng hoặc tìm thấy nhà/phòng cho thuê của bạn trong kết quả tìm kiếm.')"
                                            ></div>
                                            <div
                                                th:replace="manage_space/_manage_your_space_partial :: roomStatus('deleteRoom', 'stop', 'Hủy kích hoạt', ' Xóa vĩnh viễn nhà/phòng cho thuê của bạn
                                                        khỏi Airtnt.')"
                                            ></div>
                                        </div>
                                    </div>
                                    <div
                                        th:replace="manage_space/_manage_your_space_partial :: boxFooter('status','')"
                                    ></div>
                                </div>
                            </div>
                        </article>
                        <article class="manage-ys__section-container" id="roomAmentities">
                            <div id="manage-ys__amentities-control-view" class="flex-space">
                                <div>
                                    <div class="manage-ys__section-title">Tiện nghi</div>
                                    <div>
                                        <th:block th:each="amentity : ${room.amentities}">
                                            <div>
                                                <input type="hidden" th:value="${amentity.id}" />
                                                <div
                                                    th:text="${amentity.name}"
                                                    class="manage-ys__section-content-info"
                                                ></div>
                                            </div>
                                        </th:block>
                                    </div>
                                </div>
                                <div>
                                    <div
                                        th:replace="manage_space/_manage_your_space_partial :: displayEditUI('amentities')"
                                    ></div>
                                </div>
                            </div>
                            <div id="manage-ys__amentities-control-container">
                                <div
                                    class="manage-ys__location-control-content"
                                    style="max-height: 800px; overflow-y: scroll"
                                >
                                    <div class="flex-space">
                                        <div class="manage-ys__header-edit-main-title">
                                            Tiện nghi
                                        </div>
                                        <div
                                            th:replace="manage_space/_manage_your_space_partial :: hideEditBox('amentities')"
                                        ></div>
                                    </div>
                                    <div
                                        th:replace="manage_space/_manage_your_space_partial :: roomAmentities('Tiện nghi nổi bật', ${prominentAmentities}, 'prominentAmentities')"
                                    ></div>
                                    <div
                                        th:replace="manage_space/_manage_your_space_partial :: roomAmentities('Tiện nghi yêu thích', ${favoriteAmentities}, 'favoriteAmentities')"
                                    ></div>
                                    <div
                                        th:replace="manage_space/_manage_your_space_partial :: roomAmentities('Tiện nghi an toàn', ${safeAmentities}, 'safeAmentities')"
                                    ></div>
                                </div>
                                <div
                                    th:replace="manage_space/_manage_your_space_partial :: boxFooter('amentities','')"
                                ></div>
                            </div>
                        </article>
                        <article class="manage-ys__section-container" id="roomLocation">
                            <div id="manage-ys__location-control-view">
                                <h3 class="manage-ys__section-title">Vị trí</h3>
                                <div>
                                    <div class="flex-space">
                                        <div>
                                            <div class="manage-ys__section-content-title">
                                                Địa chỉ
                                            </div>
                                            <div class="manage-ys__section-content-info">
                                                [[${room.city.name}]], [[${room.state.name}]],
                                                [[${room.country.name}]]
                                            </div>
                                        </div>
                                        <div>
                                            <div
                                                th:replace="manage_space/_manage_your_space_partial :: displayEditUI('location')"
                                            ></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="manage-ys__location-control-container">
                                <div class="manage-ys__location-control-content">
                                    <div class="flex-space">
                                        <div class="manage-ys__header-edit-main-title">Địa chỉ</div>
                                        <div
                                            th:replace="manage_space/_manage_your_space_partial :: hideEditBox('location')"
                                        ></div>
                                    </div>
                                    <div style="max-width: 584px">
                                        <div style="margin: 25px 0">
                                            <button
                                                class="
                                                    manage-ys__location-control__useCurrentPosition-btn
                                                "
                                                onclick="useCurrentPosition();"
                                            >
                                                <span>
                                                    <img
                                                        th:src="@{/svg/pin_drop.svg}"
                                                        alt=""
                                                        height="16px"
                                                        width="16px"
                                                    />
                                                </span>
                                                <span>Sử dụng địa chỉ hiện tại</span>
                                            </button>
                                        </div>
                                        <div>
                                            <div>Quốc gia/Khu vực</div>
                                            <select
                                                id="manage-ys__location-country"
                                                class="manage-ys__input"
                                            >
                                                <th:block th:each="c : ${countries}">
                                                    <option
                                                        th:value="${c.id}"
                                                        th:selected="${c.id == room.country.id}"
                                                    >
                                                        [[${c.name}]]
                                                    </option>
                                                </th:block>
                                            </select>
                                        </div>
                                        <div>
                                            <div>Đường/phố</div>
                                            <div>
                                                <input
                                                    type="text"
                                                    th:value="${room.street == null ? '' : room.street}"
                                                    class="manage-ys__input"
                                                    id="manage-ys__location-street"
                                                />
                                            </div>
                                        </div>
                                        <div>
                                            <div
                                                style="
                                                    display: grid;
                                                    grid-template-columns: repeat(2, 1fr);
                                                "
                                            >
                                                <div class="col-flex">
                                                    <div>Thành phố</div>
                                                    <div>
                                                        <input
                                                            type="text"
                                                            th:value="${room.city.name}"
                                                            class="manage-ys__input"
                                                            style="
                                                                max-width: 284px;
                                                                margin-right: 20px;
                                                            "
                                                            id="manage-ys__location-city"
                                                        />
                                                    </div>
                                                </div>
                                                <div>
                                                    <div>Tỉnh</div>
                                                    <div>
                                                        <input
                                                            type="text"
                                                            th:value="${room.state.name}"
                                                            class="manage-ys__input"
                                                            style="max-width: 284px"
                                                            id="manage-ys__location-state"
                                                        />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    th:replace="manage_space/_manage_your_space_partial :: boxFooter('location','')"
                                ></div>
                            </div>
                        </article>
                        <article
                            class="manage-ys__section-container"
                            id="roomInfo"
                            data-aos="fade-up"
                            data-aos-duration="2000"
                        >
                            <div>
                                <h3 class="manage-ys__section-title">Chỗ ở và phòng</h3>
                                <div>
                                    <div>
                                        <div
                                            style="height: 85px; border-bottom: 1px solid #d3d6db"
                                            class="flex-space"
                                            id="manage-ys__groupAndTypeAndPrivacy-control-view"
                                        >
                                            <div>
                                                <div class="manage-ys__section-content-title">
                                                    Loại chỗ ở
                                                </div>
                                                <div class="manage-ys__section-content-info">
                                                    [[${room.roomGroup != null ? room.roomGroup.name
                                                    : 'ko'}]] cho thuê
                                                </div>
                                                <div class="manage-ys__section-content-info">
                                                    Loại hình cho thuê: [[${room.privacyType != null
                                                    ? room.privacyType.name : 'Toàn bộ nhà'}]]
                                                </div>
                                            </div>
                                            <div>
                                                <div
                                                    th:replace="manage_space/_manage_your_space_partial :: displayEditUI('groupAndTypeAndPrivacy')"
                                                ></div>
                                            </div>
                                        </div>
                                        <div
                                            id="manage-ys__groupAndTypeAndPrivacy-control-container"
                                        >
                                            <div class="manage-ys__location-control-content">
                                                <div class="flex-space">
                                                    <div class="manage-ys__header-edit-main-title">
                                                        Loại chỗ ở
                                                    </div>
                                                    <div
                                                        th:replace="manage_space/_manage_your_space_partial :: hideEditBox('groupAndTypeAndPrivacy')"
                                                    ></div>
                                                </div>
                                                <div>
                                                    <div>
                                                        <div class="manage-ys__label">
                                                            Loại nào giống nhà/phòng cho thuê của
                                                            bạn nhất?
                                                        </div>
                                                        <div>
                                                            <select
                                                                id="manage-ys__group-input"
                                                                class="manage-ys__input"
                                                            >
                                                                <th:block
                                                                    th:each="g : ${roomGroup}"
                                                                >
                                                                    <option
                                                                        th:value="${g.id}"
                                                                        th:selected="${g.id == room.roomGroup.id}"
                                                                    >
                                                                        [[${g.name}]]
                                                                    </option>
                                                                </th:block>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="manage-ys__label">
                                                            Loại nhà/phòng
                                                        </div>
                                                        <div>
                                                            <select
                                                                id="manage-ys__type-input"
                                                                class="manage-ys__input"
                                                            >
                                                                <th:block
                                                                    th:each="c : ${categories}"
                                                                >
                                                                    <option
                                                                        th:value="${c.id}"
                                                                        th:selected="${c.id == room.category.id}"
                                                                    >
                                                                        [[${c.name}]]
                                                                    </option>
                                                                </th:block>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div>Loại nhà/phòng cho thuê</div>
                                                        <div>
                                                            <select
                                                                id="manage-ys__privacy-input"
                                                                class="manage-ys__input"
                                                            >
                                                                <th:block
                                                                    th:each="pt : ${privacyType}"
                                                                >
                                                                    <option
                                                                        th:value="${pt.id}"
                                                                        th:selected="${pt.id == room.privacyType.id}"
                                                                    >
                                                                        [[${pt.name}]]
                                                                    </option>
                                                                </th:block>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div
                                                th:replace="manage_space/_manage_your_space_partial :: boxFooter('groupAndTypeAndPrivacy', '')"
                                            ></div>
                                        </div>
                                    </div>

                                    <div>
                                        <div id="manage-ys__roomInfo-control-view">
                                            <div class="flex-space" style="height: 139px">
                                                <div>
                                                    <div class="manage-ys__section-content-title">
                                                        Phòng và không gian khác
                                                    </div>
                                                    <div class="manage-ys__section-content-info">
                                                        Phòng ngủ: [[${room.bedroomCount}]]
                                                    </div>
                                                    <div class="manage-ys__section-content-info">
                                                        Giường: [[${room.bedCount}]]
                                                    </div>
                                                    <div class="manage-ys__section-content-info">
                                                        Phòng tắm: [[${room.bathroomCount}]]
                                                    </div>
                                                </div>
                                                <div>
                                                    <div
                                                        th:replace="manage_space/_manage_your_space_partial :: displayEditUI('roomInfo')"
                                                    ></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="manage-ys__roomInfo-control-container">
                                            <div class="manage-ys__location-control-content">
                                                <div class="flex-space">
                                                    <div class="manage-ys__header-edit-main-title">
                                                        Phòng ngủ và không gian khác
                                                    </div>
                                                    <div
                                                        th:replace="manage_space/_manage_your_space_partial :: hideEditBox('roomInfo')"
                                                    ></div>
                                                </div>
                                                <div
                                                    th:replace="manage_space/_manage_your_space_partial :: incDecSegment('bedRoom', 'Phòng ngủ', ${room.bedroomCount})"
                                                ></div>
                                                <div
                                                    th:replace="manage_space/_manage_your_space_partial :: incDecSegment('bed', 'Giường', ${room.bedCount})"
                                                ></div>
                                                <div
                                                    th:replace="manage_space/_manage_your_space_partial :: incDecSegment('bathRoom', 'Phòng tắm', ${room.bathroomCount})"
                                                ></div>
                                            </div>

                                            <div
                                                th:replace="manage_space/_manage_your_space_partial :: boxFooter('roomInfo','')"
                                            ></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </main>

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
        <script src="http://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script type="text/javascript" th:src="@{/js/jquery.keyframes.js}"></script>
        <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>


        <script th:inline="javascript">
            /*<![CDATA[*/
            const baseURL = /*[[@{/}]]*/ 'default';
            const roomId = /*[[${roomId}]]*/ 'default';
            let bedroom = /*[[${room.bedroomCount}]]*/ 0;
            let bed = /*[[${room.bedCount}]]*/ 0;
            let bathroom = /*[[${room.bathroomCount}]]*/ 0;

            let roomGroup = /*[[${room.roomGroup.id}]]*/ 0;
            let category = /*[[${room.category.id}]]*/ 0;
            let roomPrivacy = /*[[${room.privacyType.id}]]*/ 0;

            let country = /*[[${room.country.id}]]*/ 0;
            let state = /*[[${room.state.name}]]*/ '';
            let city = /*[[${room.city.name}]]*/ '';
            let street = /*[[${room.street}]]*/ '';

            let status = /*[[${room.status}]]*/ true;

            let description = /*[[${room.status}]]*/ '';
            let name = /*[[${room.name}]]*/ '';

            let prominentAmentitiesID = /*[[${prominentAmentitiesID}]]*/ [];
            let favoriteAmentitiesID = /*[[${favoriteAmentitiesID}]]*/ [];
            let safeAmentitiesID = /*[[${safeAmentitiesID}]]*/ [];

            var supportedFlag = $.keyframe.isSupported();
            AOS.init();
            /*]]>*/
        </script>
        <div th:replace="header :: javascript"></div>
        <script th:src="@{/js/manage_your_space/manage_your_space.js}"></script>
    </body>
</html>
