<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeLeaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
  xml:lang="en"
>
  <head th:replace="fragments::page_head('Rooms', 'none')"> </head>

  <body>
    <div class="container-fluid">
      <div th:replace="navigation::menu"></div>

      <div>
        <h1>Stats Page</h1>
      </div>

      <div class="form-group row">
        <div class="col-sm-4">Revenue in [[${year}]]</div>
        <input
          type="text"
          th:value="${revenueInSpecificYear}"
          class="col-sm-8 form-control"
          disabled
        />
      </div>

      <div class="full-details table-responsive-xl">
        <table class="table table-bordered table-striped table-hover">
          <thead class="thead-dark">
            <th>month</th>
            <th>total</th>
          </thead>
          <tbody>
            <tr th:each="b : ${bookingStatsPerMonthDTOs}">
              <td th:text="${#temporals.format(b.date, 'MM-yyyy')}"></td>
              <td>
                $
                <span
                  th:text="${#numbers.formatDecimal(b.revenue, 0, 'COMMA', 2, 'POINT')}"
                ></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div th:replace="fragments :: confirm_modal"></div>

      <div th:replace="fragments::footer"></div>
    </div>
    <script type="text/javascript"></script>
  </body>
</html>
