.topBar__titleContainer.active {
    border-bottom: 2px solid #222;
}

.topBar__titleContainer a {
    text-align: center;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    border-radius: 8px;
    padding: 16px 0;
    margin: 0 24px 0 0;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s,
        transform 0.1s ease 0s;
    position: relative;
    color: rgb(34, 34, 34);
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    width: fit-content;
    min-height: 53px;
    color: #484848 !important;
}

.topBar__titleContainer button:hover {
    background-color: #f7f7f7;
}

#topBar__contentWrapper {
    border-bottom: 1px solid rgb(235, 235, 235);
    position: relative;
    min-width: 100%;
    min-height: 53px;
}
